<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menuTop">
    <span class="folderTitle"><%= I18n.locale == :ru ? @article.title : @article.title_en %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="blueScreenArticle">
    <h1>
      STOP ERROR
    </h1>
    <div class="blueLine">
        <p>0x0000007B INACCESSIBLE_BOOT_DEVICE</p>
        <p>WARNING ВЫ_СТОЛКНУЛИСЬ_С_СИНИМ_ЭКРАНОМ_СМЕРТИ</p>
        <p>ВОЗМОЖНО_ВСЁ_БУДЕТ_НОРМАЛЬНО</p>
        <div class="class="dots"">
          <p>................................</p>
        </div>
        <p>Синий экран смерти — один из иконичных частей операционной системы Window.Это сообщение о серьёзной системной ошибке или о крахе системы.</p>
        <p>Его появление может быть вызвано плохо написанными драйверами устройств или неисправным оборудованием, таким как неисправная память, проблемы с электропитанием, перегрев компонентов или аппаратное обеспечение, выходящее за пределы его спецификации.</p>
        <p>Впервые такая ошибка появился в 1987 году в самой первой версии windows, Windows 1.01, но привычный нам вид приобрела в NT версии Windows. На экране выводится ошибка и предлагаются некоторые способы для её решения, но гарантий сохранения данных нет.</p>
        <p>Кто же создал это устрашающее людей 90-х и 2000-х сообщение? В 2014 году множество медиа изданий выпустило статьи, посвящённые синему экрану, они приписывали его создание Стиву Балмеру, генеральному директору Windows на тот момент, но это было ошибкой. Настоящим создателем был Реймонд Чен, который также создал вид экрану «Ctrl + Alt + Del», позже оплошность была исправлена.</p>
        <p>Текст на экране ошибки содержит код ошибки и ее символическое имя (например, "0x0000001E, KMODE_EXCEPTION_NOT_HANDLED") вместе с четырьмя зависящими от ошибки значениями в круглых скобках, которые помогают инженерам-программистам устранить возникшую проблему. В зависимости от кода ошибки он может отображать адрес, где возникла проблема, а также драйвер, загруженный по этому адресу.</p>
        <p>В Windows NT вторая и третья части экрана могут содержать информацию обо всех загруженных драйверах и дампе стека соответственно.</p>
        <div class="blueScreenTable">
          <p>Информация о драйвере в трех столбцах; в первом списке указан базовый адрес драйвера...</p>
          <p>во втором-дата создания драйвера (как метка времени Unix)...</p>
          <p>а в третьем —имя драйвера.</p>
        </div>
        <p>Как бы Microsoft не хотел, по сей день синий экран смерти остается символом Windows. Это вдохновило на, возможно, самую большую офисную шутку всех времен: заставку рабочего стола с синим экраном смерти.</p>
        <p>*** NTOSKRNL.EXE — Address 80000003 base at 80000000, DateStamp 46198139 </p>
        <p>*** NTOSKRNL.EXE — Address 8000Bc62 base at 80000000, DateStamp 46198139</p>
      </div>
      </div>
</div>
