<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menuTop">
    <span class="folderTitle"><%= I18n.locale == :ru ? @article.title : @article.title_en %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="wwwArticle">
    <h1>World Wide Web</h1>
    <a href="#">WorldWideWeb</a> (W3, Всемирная Паутина) — всемирная информационная среда, к которой можно подключиться с помощью компьютера, используя интернет, чтобы искать информацию, находящуюся в ней.
    <p>Термин зачастую ошибочно заменяют словом "Интернет", так и называя этот сервис, но Всемирная паутина использует интернет, это тот же сервис, что и электронная почта. История интернета куда старше истории Всемирной паутины. W3 — это глобальная информационная система.</p>
    <dl>
      <dt><a href="#">Кто создатель?</a></dt>
      <dd>Тим Бернерс-Ли изобрёл всемирную паутину, он же является изобретателем таких технологий как HTTP, URI/URL и HTML.</dd>
    </dl>
    <dl>
      <dt><a href="#">Как и где?</a></dt>
      <dd>Создание W3 началос в 1989 году, тогда Тим Бернерс-Ли работал над внутренней серью организации CERN, тогда он предложил глобальный гипертекстовый проект "Всемирная паутина". Для этого проекта были созданы протокол HTTP и язык HTML, без которых сегодняшний интернет не был бы таким какой он есть.</dd>
    </dl>
    <dl>
      <dt><a href="#">Первый веб-сайт</a></dt>
      <dd>А рамках проекта <a href="#">6 августа 1991</a> года был запущен первый веб-сайт на первом веб-сервере <a href="http://info.cern.ch/hypertext/WWW/TheProject.html" target="_blank">http://info.cern.ch/</a> </dd>
    </dl>
    <dl>
      <dt><a href="#">Первый каталог</a></dt>
      <dd>Более того, сайт являлся первым интернет-каталогом. Тим Бернерс-Ли разместил и поддерживал на нём список ссылок на другие сайты</dd>
    </dl>
    <dl>
      <dt><a href="#">Первая фотография</a></dt>
      <dd>Первое изображение размещённая в интернете было фотографией пародийной филк-группы <a href="http://musiclub.web.cern.ch/MusiClub/bands/cernettes/firstband.html" target="_blank">Les Horribles Cernettes</a>.</dd>
    </dl>
  </div>
</div>
