<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menuTop">
    <span class="folderTitle"><%= I18n.locale == :ru ? @article.title : @article.title_en %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="wwwArticle">
    <h1>World Wide Web</h1>
    <a href="#">WorldWideWeb</a> (W3) is a global information system that can be reached by computer using the Internet for searching the information there.
    <p>The term often replaced with “The Internet”, but it’s not correct. W3 uses the Internet so it is a service like email. The History of the Internet much older than the history of W3.</p>
    <dl>
      <dt><a href="#">Creators</a></dt>
      <dd> Tim Berners-Lee created W3, also he was a developer of HTTP, URI/URL and HTML.</dd>
    </dl>
    <dl>
      <dt><a href="#">How and when?</a></dt>
      <dd>Creation of W3 started in 1989. Tim Berners-Lee worked on internal network of CERN, there he suggested a global hypertext project “WorldWideWeb”. For this project were created protocol HTTP and HTML. The Internet now wouldn’t be as we know it without HTTP and HTML.</dd>
    </dl>
    <dl>
      <dt><a href="#">The first website</a></dt>
      <dd>Within the framework of the project on<a href="#">6th of August 1991</a> the first website was released on the first web server <a href="http://info.cern.ch/hypertext/WWW/TheProject.html" target="_blank">http://info.cern.ch/</a> </dd>
    </dl>
    <dl>
      <dt><a href="#">The first catalogue</a></dt>
      <dd>Moreover the website was the first internet-catalogue. Tim Berners-Lee placed and supported the list of links of other websites.</dd>
    </dl>
    <dl>
      <dt><a href="#">The first photo</a></dt>
      <dd>The first image shared on the Internet was the photo if filk group <a href="http://musiclub.web.cern.ch/MusiClub/bands/cernettes/firstband.html" target="_blank">Les Horribles Cernettes</a>.</dd>
    </dl>
  </div>
</div>
