<div class="subscribeImage"></div>
<div class="text">
  <h1>Спасибо, что подписался!</h1>
  <p>Осталось совсем немножко, и мы оповестим тебя о запуске NetStory</p>
  <div class="borderShare">
    <div class="fb-share-button" data-href="https://netstory.head.exchange/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnetstory.head.exchange%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поделиться</a></div>
  </div>
</div>
