<div id="fastLinkErwise" class="draggable">
  <div class="menuTop">
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
    <div class="fastLinkErwiseImg"></div>
    <p>Sometimes success depends on fate. You may have never even heard of "Erwise", the first browser with a graphical interface</p>
</div>
