<div id="fastLinkErwise" class="draggable">
  <%= render 'articles/head' %>
  
    <div class="fastLinkErwiseImg"></div>
    <p>Иногда успех зависит от&nbspсудьбы. Возможно, вы&nbspдаже никогда не&nbspслышали о&nbsp«Erwise», первого браузера с&nbspграфическим интерфейсом</p>
</div>
