<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <%= render 'articles/head' %>
  
  <div id="millionDollarArticle">
      <div class="text">
        <h2>The Million Dollar Homepage</h2>
        <p>The Million Dollar Homepage is a website conceived by Alex Tew, a student from Wiltshire, England, to raise money for his university education. The home page consisted of a million pixels arranged in a 1000 × 1000 pixel grid. On the website a visitor could got a space for an advertisement by buying some pixels for 1$ per one. Pixels were sold in 10x10 blocks. The project was launched on 26th of August in 2005. Consumers placed their pictures, so a slogan was displayed when hovering a cursor over the link. The aim of the website was to purchase 1 000 000$.</p>
        <p>The website became an Internet phenomenon. Thus on 1st of January in 2006 the last 1000 pixels were put up on auction on eBay. They were sold for 38 100$, so the total Alex’s income counted 1 037 100$.</p>
        <p>On the main page there were logo, counter, that showed amount of vacant pixels, navigation and the square of pixels. Tew promised to his clients that the website would be be run at least five years, though it still works – <a href="http://www.milliondollarhomepage.com">www.milliondollarhomepage.com</a>. Actually, the most of the links are not available or don’t shows the right websites.</p>
        <p>The very first purchase was in 3 days after the start of the website. The opening consumer was the friend of Tew, he bought two blocks of 100 pictures to place an ad of his music band. After 2 weeks Alex’s friends and family purchased 4700 pixels. Initially, the website worked through the word of mouth, however, after reaching 1000$ mass media paid attention to this phenomenon so the Alex’s things were looking up. In 2 monthes after launching Tew claimed that there were sold 500 900 pixels, and the website began to get 25 000 unique visitors per hour till the New Year. The consumers were big companies such as Yahoo!, The Times, and self employed.</p>
        <p>Alex Tew moved to London and bought a new car by purchased money. After a semester in the University Alex decided to leave it and to make his own business.</p>
    </div>
  </div>
</div>
