<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <%= render 'articles/head' %>

  <div id="firstbrowserArticle">
    <div class="erwise">
      <div class="firstPage">
        <div class="text">
          <p>Sometimes success depends on fortune, the story of the first browser with graphic interface Erwise illustrates it perfectly. Perhaps you have never heard about it.</p>
          <p>Erwise had to become an popularizer of Web, it had ambitions. However everything went not as planned.</p>
          <h1>The developers of Erwice are insightful persons.</h1>
          <p>Niche was absolutely new. The Internet have been just developed by Tim Bernerce-Li in ZERN. His colleagues and him, essentially Robert Kayo, were engaging by spreading the information about the Internet and inventing standards for it. Though there were created some browsers, there were lack of simplicity in usage.</p>
          <p>Bernerce-Li knew that the Internet needs a browser based on graphic interface, that one that could work on several operating system, what is more, it must be convenient PCs were new that time too!</p>
          <p>As long as Bernerce-Li and his colleagues hadn’t create new browser they persuaded others to do that. With understanding that development of browsers could be a perfect niche for project they started visiting European Uviversities.</p>
          <p>In 1991 Robert Kayo visited technologic University of Helsinki. Four young enthusiastic master students were very impressed by meeting with him and decided to develop a browser for a dissertation.</p>
          <p>Kim Nighberg, Teemu Rantanen, Katy Suominen and Kary
Sydyanmalakka started to work under the guidance of Ari Lemmke. The anticipated this “Big Deal”.</p>
        </div>

        <!-- <div class="pages">
          <p class="number" id="1">1</p>
          <p class="number" id="2">2</p>
          <p class="number" id="3">3</p>
        </div> -->

      </div>

      <div class="secondPage">
        <div class="text">
          <h1>In the right place in the right time</h1>
          <p>Erwise was released on 15th of April in 1992. It was developed for Unix X Window System and had over 2 000 strokes of code. Four students got the highest marks by their professor. That time there were very few browsers. Developers were lucky to take part in such new and evolving field. They were pioneers – Erwise was the first graphic browser ever. Also they were lucky to be in Finland and study in technologic University of Helsinki – that time Finland was one of the leaders in IT sphere. Linux, short message service (SMS) and Internet Relay Chat (IRC) were huge innovations in the country, a FUNET (Finnish university network) were created nearly 10 years before.</p>
          <p>So Erwise were not only created just in time, but also it was located in right place, so they were implicated to technological breakthrough.</p>
          <h1>Possibilities of Erwise</h1>
          <p>Erwise had many innovations. They could appear simple comparing with nowadays but that time it was a revolution!</p>
          <p>1. It was the first graphic browser in the world, that means that you use mouse to tap on link or go to another website..</p>
          <p>2. It became possible to search text, that is on websites.</p>
          <p>3. There is elementary search in browser that make possible to find text on different websites, but not only that uploaded to Erwise.</p>
          <p>4. Several pages could be loaded in the same time.</p>
          </p>
        </div>
      </div>

      <div class="thirdPage">
        <div class="text">
           <h1>Why Erwise wasn’t succeed?</h1>
          <p>Erwise was developed a year before NCSA Mosaic (browser that is regarded as a browser that popularizes the Internet). Why didn’t it become popular?</p>
          <p>It refer us to concept of “destiny”. To be the first or be the best doesn’t mean to be successful. Many factors affect significance. All in all the world full of veriables..</p>
          <p>Inspite of fact that Finland was one of the leaders in technological area, it came to halt. There were no money in the concrete to spend on developing. For the Universities it was hard to make both ends meet, but financing from the heaven doesn’t exist</p>
          <p>Students couldn’t commercialized Erwise or even continue to work on software. Nightberg, Rantanen and Suominen were picked up by Tekla Corporation, because there were not much permanent workplaces. Katy Suominen, from now Katy Borgers, left IT and opened a shop of clothes for children. Erwise obviously just disappeard from their lives!</p>
            <p>So Erwise just remained in Unix X Windows sphere. It has never been ported on another software. Tim Bernerce-Li tried to play with Erwise ones, but couldn’t achieve worthy progress because of documentation that was written on Finnish. </p>
          <p>It differes much from Mosaic NCSA’ story in the USA. Mark Andreessen cooperated with Jim Clark and established Mosaic Communications ( later calles Netscape Communications). Many of first Mosaic developers also joined the company, that got financing from Kleiner Perkins Caufield & Byers.</p>
          <p>Mosaic turned into Netscape Communicator soon, that controled the Internet with over 90% of market share just before the first War of Browsers.</p>
        </div>
      </div>

    </div>



    <div class="navigation">
      <div class="left">
        <div class="button prev">Prev.</div>
        <div class="button">Back</div>
        <div class="button next">Next</div>
      </div>
      <!-- <div class="button" id="close">Close</div> -->
    </div>

    <div class="popup">
      <div class="brow"></div>
      <div class="field"></div>
      <div class="logo"></div>
      <p id="firstChild">WorldWideWeb browser for the X Window System</p>
      <p>Version 0.1 Alpha</p>
      <p>Authors: Kim Nyberg, Teemu Rantaen, Kati Suominen, Kari Syd(nmaanlakka</p>
      <p>E-mail: erwise@cs.hut.fi</p>
      <div class="button" id="popupClose">Ок</div>
    </div>
  </div>
