
<div id="<%= "folder_#{ @folder.id }" %>" class="computer folderContent draggable about">
  <div class="menuTop">
    <span class="folderTitle"><%= @folder.name %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="info">
    <div class="infolderContent infolder information scrollbar">
      <div class="storage">
        <%= image_tag 'computer_about.svg' %>
        <div class="storageInfo">
          <div class="infoHeader">
            <p class="firstp">NetStory 2019</p>
            <p class="secondp">0,05 ZB free of 24 ZB</p>
          </div>
          <div class="infoLine">
            <div class="lineArticles"></div>
            <div class="lineImages"></div>
            <div class="lineGames"></div>
          </div>
        </div>
      </div>
      <div class="tagsInfo">
        <div class="tagInside">
          <div class="tagArticles"></div>
          <p>Статьи</p>
        </div>
        <div class="tagInside">
          <div class="tagImages"></div>
          <p>Картинки</p>
        </div>
        <div class="tagInside">
          <div class="tagGames"></div>
          <p>Игры</p>
        </div>
      </div>
      <h4>О проекте</h4>
      <p>
        Интернет. Всемирная информационная компьютерная сеть, пользователями которой являются 4 миллиарда человек. Однако что нам известно о&nbspтом, как развивался Интернет, каким он&nbspбыл до&nbspсегодняшнего дня? Мы пользуемся всемирной паутиной буквально каждый день и так мало о&nbspней знаем. Большинство статей и&nbspкнижек написано скучным и&nbspнепонятным для обывателя языком, но&nbspчто если это исправить?
      </p>
      <p>
        NetStory — это сервис про историю интернета. Ты буквально можешь погрузиться в&nbspпрошлое всемирной сети и&nbspпроследить, как менялся дизайн, взаимодействие, функционал, что появлялось нового, а&nbspчто исчезало без следа. Каким был первый e-mail? Какие легенды связаны с&nbspошибкой 404? Ответы на&nbspэти и&nbspдругие вопросы ты&nbspнайдёшь в&nbspNetStory!
      </p>
    </div>
  </div>
</div>
