<!-- "About" folder -->
<div id="info" class="foldercontent draggable">
  <section class="folder-content">
    <div class="infoldercontent infolder information scrollbar">
      <h4>Information about the project</h4>
      <p>NetStory – это&nbsp;проект про&nbsp;историю интернета. На&nbsp;страницы собраны статьи о&nbsp; самых интересных событиях интернета &nbsp; момента его&nbsp;зарождения до&nbsp;наших дней. На&nbsp;рабочем столе подборка избранных статей, остальные
        статьи можно найти в&nbsp; «Папке».
      </p>
      <h4>About us</h4>
      <p>Котенкова Анна</p>
      <p>Кочуева Оксана</p>
      <p>Шумилова Ольга</p>
    </div>
  </section>
</div>
