<div class="colorsChange hidden draggable">
  <div class="menuTop">
    <span class="folderTitle"></span>
    <div class="closeCardColor">
      <div class="closeBtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
  </div>
  <div class="infolderContent">
    <div class="setting settingsFirst settingBorder">
      <h3 class="settingTitle"><%= t('desktop.start.Background color') %></h3>
      <div class="colorList">
        <div id="pink" class="backgroundColor"></div>
        <div id="blue" class="backgroundColor"></div>
        <div id="yellow" class="backgroundColor"></div>
        <div id="black" class="backgroundColor"></div>
      </div>
    </div>
  </div>
</div>
