<div id="<%= "folder_#{ @folder.id }" %>" class="computer folderContent draggable credits">
  <div class="menuTop">
    <span class="folderTitle"><%= @folder.name %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="info">
    <div class="infolderContent infolder information scrollbar">

  </div>
</div>
