<%# <%= link_to article_path(article), remote: true do %>
  <!-- <div id="fastlink_erwise" class="draggable desk-elements">
    <div id="close-btn" class="cbfastlink_erwise"></div>
  </div> -->
<% end %> %>
