
<div class="folder-content__wrap-overflow scrollbar">
  <div class="project-list nav_basic">
    <%= render "articles/err" %>
    <%= render "articles/gui" %>
    <%= render "articles/mailb" %>
    <%= render "articles/att" %>
  </div>
