<div class="draggable">
  <div class="folderFolder " id="<%= "folder_#{ folder.id }" %>">
    <div class="project-list navBasic">
      <%= link_to folder_path(folder), class: 'project-list__item', id: 'folderFolder', remote: true do %>
        <span class="article-icon " data-title="Папка">
          <%= image_tag folder.icon %>
          <div><%= folder.name %></div>
        </span>
      <% end %>
    </div>
  </div>
</div>
