<div id="computer" class="foldercontent draggable">
  <div class="menu_top">
    <span class="folder_title"><%= @folder.name %></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
    <canvas id="c"></canvas>
    <script src='https://cdn.rawgit.com/Brando07/share/newbe/matrix-rain-seocips.js' type='text/javascript'/></script>
</div>
