<div class="nodata">
  <div class="message">
    <%= image_tag 'nodata.svg' %>
    <h1>No data received</h1>
    <p>Unable to load the webpage because you touched unknown stuff!!!!!</p>
    <p>Error code: YOU_ARE_AN_IDIOT_DUDE</p>
    <div class="searchbutton re"><p>Reload</p></div>
  </div>
</div>
