<!-- Preview on the desktop -->
<div id="fastlink_erwise" class="draggable desk-elements">
  <div id="close-btn" class="cbfastlink_erwise"></div>
</div>
<div id="fastlink_att" class="draggable desk-elements">
  <div class="cbfastlink_att"></div>
</div>
