<!-- Preview on the desktop -->

  <div id="fastlink_att" class="draggable desk-elements">
    <div class="menu_top">
      <span class="folder_title"></span>
      <div class="closebtn cbfastlink_att">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="fastlink_img"></div>
  </div>
