<div id="screensaver">
  <section class="animation">
    <div class="x">
      <div class="bubbleBlue">
        <div class="y"></div>
      </div>
    </div>
    <div class="x">
      <div class="bubblePink">
        <div class="y"></div>
      </div>
    </div>
    <div class="x">
      <div class="bubbleYellow">
        <div class="y"></div>
      </div>
    </div>
    <div class="x">
      <div class="bubbleGreen">
        <div class="y"></div>
      </div>
    </div>
    <div class="x">
      <div class="bubbleBlue bubbleBlueSecond">
        <div class="y"></div>
      </div>
    </div>
    <div class="x">
      <div class="bubblePink bubblePinkSecond">
        <div class="y"></div>
      </div>
    </div>
    <div class="x">
      <div class="bubbleYellow bubbleYellowSecond">
        <div class="y"></div>
      </div>
    </div>
    <div class="x">
      <div class="bubbleGreen bubbleGreenSecond">
        <div class="y"></div>
      </div>
    </div>
  </section>
</div>
