<div id="screensaver">
  <div class="x">
    <div class="bubbleBlue"></div>
    <div class="bubblePink"></div>
    <div class="bubbleYellow"></div>
    <div class="bubbleBlue bubbleBlueSecond"></div>
    <div class="bubblePink bubblePinkSecond"></div>
    <div class="bubbleYellow bubbleYellowSecond"></div>
</div>
</div>
