<div id="setting" class="folderContent">
  <div class="titleContainer">
    <div class="title">NetStory<span>19</span></div>
  </div>
  <ul class="menuContainer">
    <li class="update">Обновление</li>
    <hr/>
    <li class="colorsbtn">Обои</li>
    <li class="filtersbtn">Настройки экрана</li>
    <hr/>
    <li class="shutDown">Выключить</li>
    <li class="logOut">Спящий режим</li>
  </ul>
</div>
