<div id="setting" class="folderContent">
  <div class="infolderContent">
    <div class="setting settingsFirst settingBorder">
      <h3 class="settingTitle">Цвет фона</h3>
      <div class="colorList">
        <div id="pink" class="backgroundColor"></div>
        <div id="blue" class="backgroundColor"></div>
        <div id="yellow" class="backgroundColor"></div>
        <div id="black" class="backgroundColor"></div>
      </div>
    </div>
  </div>
  <section class="setting setting100">
    <h3 class="settingTitle">Фильтры</h3>
    <div class="settingDropdownWrap">
      <button class="settingDropdownButton">Обычный</button>
      <div class="dropdownArrowWrap">
        <%= image_tag 'dropdown-arrow.svg' %>
      </div>
      <div class="settingDropdown hidden">
        <a href="#" class="settingDropdownOption" id="normal">
          Обычный
        </a>
        <a href="#" class="settingDropdownOption" id="blackWhite">
          Черно-белый
        </a>
        <a href="#" class="settingDropdownOption" id="hueRotate">
          Инверсия
        </a>
        <a href="#" class="settingDropdownOption" id="negative">
          Негатив
        </a>
      </div>
    </div>
  </section>
</div>
