<section class="screenBack hidden">
    <div class="pressRestart">ВКЛ</div>
  <div class="screen">
    <div class="end">
      <div class="endMessage">
        <div class="logo">нужен логтип</div>
        <p>Подождите... </p>
        <p>Идёт завершение работы NetStory</p>
        <div class="loading"></div>
      </div>
    </div>
  </div>
</section>
