<div class="sleepMode hidden">
  <div class="sleepComputer"></div>
  <p>Z</p>
  <p>Z</p>
  <p>Z</p>
  <span class="table">
    <div class="login">Please, log on to NetStory</div>
    <div class="tableInside">
      <div class="user">
        <div class="userImage"></div>
        <p>Administrator</p>
      </div>
      <div class="user">
        <div class="userImage"></div>
        <p>User</p>
      </div>
      <div class="shutDown">Shut Down</div>
    </div>
  </span>
  <!-- <div class="searchButton re"><p>Reload</p></div> -->
</div>
