<div class="taskbar">
  <div class="icons">
    <div class="iconsLeft">
      <a href="#" id="startMenu">
        <div id="start" class="startRest">
          <div class="iconStart"></div>
          <p>Start</p>
        </div>
      </a>
    </div>
    <div class="taskbarElements">
    </div>
    <div class="iconsRight">
      <div class="dateTime">
        <span class="floatRight" id="clock"></span>
      </div>
    </div>
  </div>
</div>
