<!-- Taskbar -->
<!-- <div id="taskbar"> <div id="start" class="startRest">Start</div> <div id="startMenu"> <div class="menuItem">Settings</div> <div class="menuItem">About</div> <div class="menuItem">Help</div> <div class="menuItem">Find</div> </div> <div
id="notifications"> <div id="clock"></div> </div> </div> -->

<div class="taskbar">
  <div class="icons">
    <div class="icons-left">
      <a href="#" id="start-menu">
        <div id="start" class="startRest"></div>
      </a>
    </div>
    <div class="icons-right">
      <div class="datetime">
        <span class="float_right" id="clock"></span>
      </div>
    </div>
  </div>
</div>
