<div class="taskbar">
  <div class="icons">
    <div class="icons-left">
      <a href="#" id="start-menu">
        <div id="start" class="startRest"></div>
      </a>
    </div>
    <div class="taskbar_elements">
    </div>
    <div class="icons-right">
      <div class="datetime">
        <span class="float_right" id="clock"></span>
      </div>
    </div>
  </div>
</div>
