<!-- Trash
<div id="trash" class="foldercontent draggable">
  <div class="menu_top">
    <span class="folder_title">Trash</span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div class="infoldercontent"></div>
</div>
 -->
