<div id="<%= "folder_#{ @folder.id }" %>" class=" computer foldercontent draggable">
  <div class="menu_top">
    <span class="folder_title"><%= @folder.name %></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div class="infoldercontent">
    <span class="article-icon draggable" id="unknown" data-title="Папка">
      <%= image_tag 'rainbow_icon.png' %>
      <p>Unknown</p>
    </span>
  </div>
</div>
