<div class="updateOS hidden draggable">
  <div class="menuTop">
    <span class="folderTitle"></span>
    <div class="closeUpdate">
      <div class="closeBtnInactive">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
  </div>
  <div class="infolderContent">
    <h3>Загрузка обновления</h3>
    <div class="bar">
      <div class="downloaded"></div>
      <div class="shine"></div>
    </div>
    <div class="remaining">
      <p class="bold">Осталось:</p>
      <p class="stable">10 дней 8 часов 47 минут</p>
      <p class="firstSecond">28 секунд</p>
      <p class="secondSecond">03 секунды</p>
    </div>
    <div class="cancel">Отмена</div>
    </div>
  </div>
</div>
