<div id="computer" class="foldercontent draggable">
  <div class="menu_top">
    <span class="folder_title" ><%= @folder.name %></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
    <!-- <div class="back"></div> -->
  </div>

  <%= render @folders %>
  <%= render @articles %>
</div>
