<p id="notice"><%= notice %></p>

<!-- Folder with articles -->
<div id="folder" class="foldercontent draggable desktop-folder_center">
  <div class="menu_top">
    <span class="folder_title">Articles</span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  
</div>
<!-- </div> -->
