<div id="computer" class="foldercontent draggable">
  <div class="menu_top">
    <span class="folder_title">My computer</span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
<%= render 'myComputerFolder' %>
</div>
