<%#= article.title %>
<div class="folder-content__wrap-overflow scrollbar" id="<%= "article_#{ article.id }" %>">
  <ul class="project-list nav_basic">
      <span id="folderfolder" class="article-icon">
          <%= image_url article.pic %>
          <%= link_to article.title, article_path(article), remote: true %>
      </span>
  </ul>
</div>
