<div class="draggable" draggable="true">
  <div class="folderFolder scrollbar" id="<%= "article_#{ article.id }" %>">
    <div class="computerFolders navBasic">
      <span class="articleIcon ">
        <%= link_to article_path(article), remote: true do %>
        <%= image_tag(article.pic.url) %>
        <div class="articleTitle"><%= I18n.locale == :ru ? article.title : article.title_en %></div>
      <% end %>
    </span>
  </div>
</div>
</div>
