<div draggable="true">
  <div class="folder-content__wrap-overflow scrollbar draggable" id="<%= "article_#{ article.id }" %>">
    <div id="folderfolder" class="computerFolders project-list nav_basic">
      <span id="article-icon" class="article-icon ">
        <%= link_to article_path(article), remote: true do %>
          <%= image_tag(article.pic.url) %>
          <div class="atitle"><%= article.title %></div>
        <% end %>
      </span>
    </div>
  </div>
</div>
