<div id="fastLinkErwise" class="draggable">
    <div class="menuTop">
      <div class="cbFastLinkErwise">
        <div class="closeBtn">
          <%= image_tag 'x.svg' %>
        </div>
      </div>
    </div>
    <div class="fastLinkErwiseImg"></div>
    <p>Иногда успех зависит от&nbspсудьбы. Возможно, вы&nbspдаже никогда не&nbspслышали о&nbsp«Erwise», первого браузера с&nbspграфическим интерфейсом</p>
</div>
