<div id="fastLinkAtt" class="draggable">
    <div class="menuTop">
      <div class="closeFastLinkAtt">
        <div class="closeBtn">
          <%= image_tag 'x.svg' %>
        </div>
      </div>
    </div>
    <div class="fastLinkImg"></div>
</div>
