<div id="fastlink_att" class="draggable">
    <div class="menuTop">
      <span class="folderTitle"></span>
      <div class="closeBtn cbfastlink_att">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="fastlink_img"></div>
</div>
