<link rel="stylesheet" href="../../assets/stylesheets/menubar.scss">
<link rel="stylesheet" href="../../assets/stylesheets/application.scss">
<div id="Desktop">
  <span class="icon draggable" data-title="Справка">
    <%= image_tag 'about.png' %>
  </span>
  <span class="icon draggable" data-title="Мой компьютер">
    <%= image_tag 'computer.png' %>
  </span>
	<span class="icon draggable" data-title="Папка">
    <%= image_tag 'folder.png' %>
  </span>
	<span class="icon draggable" data-title="Корзина">
    <%= image_tag 'trash.png' %>
  </span>
</div>
