<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menuTop">
    <span class="folderTitle"><%= @article.title %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="millionDollarArticle">
      <div class="text">
        <h2>The Million Dollar Homepage</h2>
        <p>The Million Dollar Homepage - веб-сайт был создан Алексом Тью, 21-летним парнем проживающем в Англии, с целью заработать деньги на обучение в университете. Страница содержит миллион пикселей, составляющие сетку 1000х1000px. На сайте можно было приобрести место для ссылки на свой сайт, купив несколько пикселей за 1$ за один пиксель, чтобы составить картинку. Пиксели продавались блоками 10 на 10, чтобы можно было разглядеть набор пикселей. Проект был запущен 26 августа 2005 года. Покупатели помещали свои изображения, при наведении на которые возникали ссылки для перехода на сайт. Целью сайта была заполнить каждый пиксель на сайте и заработать 1 000 000$.</p>
        <p>Сайт стал интернет-феноменом. Так 1 января 2006 года на eBay на аукцион были выставленны последние 1000 пикселей и были куплены за 38 100$, так что общий доход Алекса составил 1 037 100$.</p>
        <p>На главной странице были название сайта и счётчик, который отображал количество свободных пикселей, внутренняя навигация сайта и сам квадратный блок пикселей. Своим клиентам тью обещал, что сайт будет работать не менее пяти лет, однако он работает до сих пор – <a href="http://www.milliondollarhomepage.com">www.milliondollarhomepage.com</a>. Правда, большинство ссылок уже не рабочие, либо не отображают первоначальных целей, вымерли и т.д.</p>
        <p>Первая продажа была произведена через 3 дня после начала работы сайта, покупателем был друг Тью, который выкупил 2 блока по 100 пикселей для размещения рекламы сайта своей музыкальной группы. Спустя уже 2 недели друзья и семья Алекса преобрели 4700 пикселей, изначально сайт работал с помощью "сарафанного радио", но когда общая сумма покупок составила 1000$ СМИ обратили внимание на феномен и дела Алекса пошли в гору. Через 2 месяца после запуска сайта Тью заявил, что на сайте продано более 500 900 пикселей, а к Новому Году сайт начал получать 25 тысяч уникальных поситителей каждый час. Покупателями рекламы были как больше компании, например, Yahoo!, The Times, так и маленькие частные предприятия.</p>
        <p>На заработанные деньги Алекс Тью переехал в Лондон, купил автомобиль. Проучившись один семестр в университете Алекс бросил образование и решил заняться собственными бизнес-идеями.</p>
    </div>
  </div>
</div>
