<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menuTop">
    <span class="folderTitle"><%= @article.title %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div class="browserLine">
    <div class="netscapeButton"></div>
    <div class="netscapeButton"></div>
    <div class="netscapeButton"></div>
    <div class="netscapeButton"></div>
    <div class="searchField">
      <p>hhtp://www.netscape.com/</p>
    </div>
    <div class="netscapeIcon">
      <%= image_tag 'Netscape-icon.png' %>
    </div>
  </div>
</div>
