<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menu_top">
    <span class="folder_title"><%= @article.title %></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
    <div id="default_article">
      <div class="head">
        <h1>NSFNET</h1>
      </div>
      <div id="100_width_pic">
        <%= image_tag 'articles/nsfnet/NSFNET.jpg'%>
      </div>
      <div class="text">
        <h2>Сеть, которая помогла сделать образование более доступным</h2>
        <p>В конце 70-х Национальный научный фонд США (NSF, National Science Foundation) пришел к выводу, что сеть ARPANET оказывает огромное влияние на исследовательские работы университетов, позволяя ученым всей страны обмениваться информацией и совместно работать над проектами. Однако <br> для получения доступа к ARPANET университет должен был заключить контракт с Министерством обороны, которого <br> у многих университетов не было.</p>
        <p>Ответом NSF стала идея создания сети-преемника ARPANET, которая была бы открыта для всех университетских исследовательских групп. Чтобы начать с чего-нибудь конкретного, Национальный научный фонд решил построить сетевую магистраль, соединив ею шесть суперкомпьютерных центров в Сан-Диего, Боулдере, Шампейне, Питтсбурге, Итаке и Принстоне.</p>
        <p>Национальный научный фонд также профинансировал создание нескольких (всего около 20) региональных локальных сетей, соединенных с магистралью, что позволило пользователям <br> в тысячах университетов, исследовательских лабораторий, библиотек и музеев получить доступ к суперкомпьютерам. Вся сеть, состоящая из магистрали и региональных сетей, получила имя NSFNET. Она соединялась с ARPANET через линию между IMP и микрокомпьютером в компьютерном зале университета Карнеги — Меллона (Carnegie — Mellon University). </p>
        <p>Сеть NSFNET имела мгновенный успех, ей предсказывали большое будущее. Национальный научный фонд сразу же после завершения работы над NSFNET начал планировать следующую сеть.</p>
        <p>Рост отрасли продолжался, но Национальный научный фонд понимал, что правительство не сможет финансировать развитие сетей постоянно. Кроме того, коммерческие организации выражали желание поучаствовать в общем деле, но уставом фонда им было запрещено использовать сети, <br> за которые заплатил Национальный научный фонд.</p>
        <p>В декабре 1991 года Конгресс США утвердил закон, разрешающий создание сети NREN (National Research and Education Network — государственная научно-ис- СЛедовательская и образовательная сеть), являвшейся преемницей сети NSFNET, но работающей на гигабитных скоростях. Целью было создание государственной сети, работающей на скорости 3 Гбит/с, до конца тысячелетия. <br> Эта сеть должна была служить прототипом для многократно обсуждавшейся информационной супермагистрали.</p>
      </div>
    </div>
  </div>
</div>
