<div class="articleContainer" id="theGlobe">
  <div class="menu_top">
    <span class="folder_title"><%= @article.title %></span>
    <div class="closebtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div class="theglobearticle">
  <div class="blueLine"></div>
  <!-- <div class="back"></div> -->
  <div class="content">
    <div class="whiteBlock">
      <div class="adv">
        <div class="oval">
          <p>Присоединись и&nbspстань частью globeclub</p>
        </div>
        <div class="explore">
          <p>Исследуй эти клубы</p>
          <div class="globeIcon"><%= image_tag 'theglobe_icon.png'%></div>
        </div>
      </div>
    </div>
    <div class="globeText">
      <div class="white"></div>
      <p>TheGlobe.com — стартап, основанный в 1995 году студентами Стефаном Патернотом и Тоддом Кризельманом. Этот предок соцсетей , выйдя в свет 13 ноября 1998 года, наделал много шума и стал героем заголовков, потому что публикация акций компании на
          фондовой бирже в первый же день получила самую большую прибыль за всю историю первичных публикаций на бирже. Цена на большинство акций компании бума дот-комов рухнула уже на следущий год, поэтому компания снизила выпуск акций вплоть до полного
          прекращения в 2008 году.</p>
      <h4>Ранний успех</h4>
      <p>С того момента, как студенты обнаружили примитивный чат в компьютерной сети университета, они быстро погрузились в это. Реализуя свой бизнес-потенциал, они собрали $15,000 за рождественские каникулы 1994 года и приобрели Apple Internet Server. Они
          основали программистскую компанию WebGenesis и потратили следующие несколько месяцев на создание их основного вебсайта. theGlobe.com вышел в свет 1 апреля 1995 года и привлек более 44 000 посетителей в течение первого месяца. Они быстро завербовали
          таланты из отдела компьютерных наук Cornell и имели 17 работников к первой годовщине сайта.</p>
      <p>Пара использовала популярность сайта и растущий интерес к интернету в 1997 году, чтобы получить финансирование в размере 20 миллионов долларов за счет инвестиций в Dancing Bear. В результате Патернот и Кризельман получили зарплату свыше $ 100 000,
          а продажи привилегированных акций принесли по $500 000 каждому. Обоим было на тот момент 23 года. В 1998 году в планах было сделать компанию публичной. В пятницу, 13 ноября 1998 года, theGlobe.com выпустила свое IPO. Первоначальная цена акций была
          установлена на $9, но первая сделка была состоялась на $87, и цена поднялась до $97 до закрытия на уровне $63.50. По итогам торгового дня компания установила рекорд по IPO с ростом на 606% по сравнению с начальной ценой акций. Компания разместила 3,1
          млн акций, привлекая $27,9 млн и доведя свою рыночную капитализацию до более чем $840 млн. Основываясь на своих холдингах, молодые основатели стоили около 100 миллионов долларов каждый. В конце 1990-х годов theGlobe.com сайт расширили играми, а также
          компания совершила покупку журнала о компьютерных играх , happypuppy.com (сайт компьютерных игр), а также Chips and Bits, интернет-магазина компьютерных и консольных игр.</p>
      <h4>Снижение и упадок</h4>
      <p>Так как число успешных молодых людей росло не по дням, а по часам, медиа общественность стала пристально изучать этих гениев новой экономики. В 1999 году CNN сняли одну ночь из жизни Паернота. Он был изображён в блестящих кожаных штанах, танцующим
          вместе со своей девушкой — моделью, Дженнифер Мэдли, на столе популярного ночного клуба на Манхеттене. Во время этого представления он сказал: «Получил девушку. Получил деньги. Теперь я готов жить отвратительной, легкомысленной жизнью».Его насмешливо
          окрестили «генеральным директором в пластиковых штанах» , он стал символом эксцессов доткомов-миллионеров.</p>
      <p>Этот год также ознаменовался изменением оборота бума доткомов и цена акций theGlobe.com сильно упала. По мере того как инвесторы все более скептически относились к «новой экономике», цены на акции начали стремительно снижаться. Цена акций
          theGlobe.com упала с 97 долларов до менее чем 10 центов, а рыночная капитализация сократилась более чем на 95% до примерно 4 миллионов долларов в 2001 году.</p>
      <p>В 2000 году Патернот и Кризельман были вынуждены покинуть компанию, и она была возглавлена бывшим вице-президентом AICPA, но компания, которая никогда не получала прибыль, была вынуждена сократиться. theGlobe.com закрыл свой флагманский сайт и
          уволил 50% своих сотрудников в августе 2001 года.[1] компания продолжала размещать некоторые из своих сайтов-партнеров и публиковать Компьютерные игры, но домен www.theglobe.com отображается не более чем информационное сообщение о прекращении работы
          сайта до 2003 года.</p>
      <p>В том году, theGlobe.com запустил GloPhone, сервис VoIP телефонов, похожий на Skype, и использовал свой одноименный домен в качестве веб-сайта продукта. Несмотря на объединение с сетевым сайтом Friendster, отзывы были плохими, а продажи были
          низкими. Sprint Nextel подала иск о нарушении патентных прав. theGlobe.com продолжал издавать Компьютерные игры, и он считался одним из 3 лучших игровых журналов для ПК в США (наряду с играми Ziff Davis для Windows и PC Gamer Future
          Publishing).Компания расширила свои печатные издания, включив в них журнал Now Playing Magazine (2005) и MMO Games magazine (2006), издания, посвященные популярным развлечениям и массовым многопользовательским играм, соответственно. theGlobe.com
          принял решение отправлять нежелательные сообщения пользователям MySpace.com и впоследствии был привлечен к ответственности в соответствии с законом CAN-SPAM и аналогичным законом о защите от спама в Калифорнии.</p>
      <p>Калифорнийский суд вынес решение против theGlobe.com. Впоследствии журналы прекратили публикацию, Домашняя страница Chips & Bits объявила о закрытии сайта, а GloPhone прекратил свою деятельность 13 марта 2007 года. Ожидание большой федеральной
          тяжбы(оцениваемого в 120 миллионов долларов) фактически означало конец theGlobe.com.</p>
      <h4>Судебный процесс</h4>
      <p>Компания была предметом шести предполагаемых исков акционеров. Поставщики подали в суд на прекращенный бизнес VoIP и в октябре 2011 года на него был подан иск в связи с продажей в 2005 году дочерней компании SendTec relationserv Media, которая
          впоследствии потерпела неудачу.</p>
      <h4>Tralliance</h4>
      <p>9 мая 2005 года компания приобрела Tralliance Corporation, компанию, которая поддерживает домен верхнего уровня .travel. К середине 2007 года домен theglobe.com был перенаправлен на домашнюю страницу Tralliance. Затем компания была продана
          Tralliance 29 сентября 2008 года. theglobe получила права на получение прибыли от управления реестром Tralliance, что станет единственным источником будущих доходов для theglobe.</p>
      <p>С продажей Tralliance, theglobe.com стала холдинговой компанией без каких-либо операций или активов, кроме своих прав в tralliance earn-out. Компания работает за счет заемных средств, и по состоянию на 1 марта 2012 года она сообщила, что у нее нет
          сотрудников, кроме ее руководителей, каждый из которых посвятил «очень ограниченное время» бизнесу TheGlobe, и не получил за это никакой компенсации.</p>
    </div>
    <div class="rightBlock">
      <div class="blueLineMin"></div>
      <div class="whiteBlockMin"></div>
      <div class="blueLineMin"></div>
      <div class="whiteBlockMin"></div>
      <div class="blueLineMin"></div>
      <div class="whiteBlockMin"></div>
      <div class="blueLineMin"></div>
      <div class="blueLineMin"></div>
    </div>
  </div>
</div>
