<p id="notice"><%= notice %></p>

<link rel="stylesheet" href="../../assets/stylesheets/articles.scss">
<link rel="stylesheet" href="../../assets/stylesheets/menubar.scss">
<link rel="stylesheet" href="../../assets/stylesheets/application.scss">

<section class="article_main">

  <div class="massive_article">
    <% @articles.each do |article| %>
      <%= render 'article', article: article %>
    <% end %>
  </div>

  <!-- <div class="button">
    <%= link_to 'New Article', new_article_path %>
  </div> -->

</section>
