\<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <%= render 'articles/head' %>
  
    <div id="defaultArticle">
      <div class="head">
        <h1>NSFNET</h1>
      </div>
      <div id="100WidthPic">
        <%= image_tag 'articles/nsfnet/NSFNET.jpg'%>
      </div>
      <div class="text">
        <h2>The Network that helped to make an education more affordable</h2>
        <p>In the end of 70th National Science Foundation of the USA (NSF) concluded that the ARPANET network affected on universities’ research works letting scientists over the country exchange information and work on project together. However for getting access to ARPANET a university had to contract with the Department of defence so many universities couldn’t get this contract.</p>
        <p>In return, in NSF was born an idea of creation a successor-network of ARPANET, that would be accessible to all research groups in universities. To start with something concrete NSF decided to construct a network backbone connecting six computer centers in San-Diego, Boulder, Champain, Pittsburg, Itak and Priston. </p>
        <p>National Science Foundation finances creation some (over 20) local networks in different districts connecting by backbone that let users to get access to supercomputers in thousands colleges, researching labs, libraries and museums. The network was called NSFNET. It was connected to ARPANET through the lines between IMP and microcomputer in computer hall of Carnegie — Mellon University. </p>
        <p>NSFNET got a success instantly it was predicted a great future. NSF started planning the next network just after conclusion of work of NSFNET.</p>
        <p>The growth of industry continued but NSF understood that the government couldn’t finance constantly developing of system. Moreover commerce companies wanted to take part in developing but the charter of NSF didn’t let them to use the network.</p>
        <p>On December of 1991 the Congress of the USA approved a law that let creation fo NRENВ (National Research and Education Network). It was a receiver of NSFNET but it worked much faster. The aim was to create a State Network working on speed of 3 gb per second till the end of Millenium. This network had to be a prototype for discussed super-backbone.</p>
      </div>
    </div>
  </div>
</div>
