<!-- "About" folder -->
  <div id="info" class="foldercontent draggable">
    <div class="menu_top">
      <span class="folder_title">About</span>
      <div class="closebtn infobtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="infoldercontent infolder information">
      <h4>Information about the project</h4>
      <p>NetStory – это&nbsp;проект про&nbsp;историю интернета. На&nbsp;страницы собраны статьи о&nbsp; самых интересных событиях интернета
        <br>с&nbsp; момента его&nbsp;зарождения до&nbsp;наших дней. На&nbsp;рабочем столе подборка избранных статей, остальные статьи можно найти
        <br>в&nbsp; «Папке».
      </p>
      <div class="share-button">
        <div class="lid">Share</div>
        <div class="share-items-wrapper">
          <div class="share-items">
            <a href="#" class="share-item">
              <span class="fa fa-facebook"></span>
            </a>
            <a href="#" class="share-item">
              <span class="fa fa-twitter"></span>
            </a>
            <a href="#" class="share-item">
              <span class="fa fa-instagram"></span>
            </a>
          </div>
        </div>
        <div class="thank-you">
          Thnx dude!
        </div>
      </div>
    </div>

  </div>
