<!-- Welcome alert -->
<div class="window welcome draggable desk-elements">
  <div class="card resizable">
    <div class="menu_top">
      <span class="folder_title"></span>
      <div class="closebtn">
        <%= image_tag 'x.svg' %>
      </div>
    </div>
    <div class="fakeScreen">
      <p class="line1">&#91;&nbsp;Привет! Добро пожаловать в проект NetStory<span class="cursor1">_</span></p>
      <p class="line2">&nbsp;&nbsp;Этот сервис поможет узнать вам об Интернете все!<span class="cursor2">_</span></p>
      <p class="line3">&nbsp;&nbsp;Открой Справку, чтобы узнать больше :)&nbsp;&#93;
        <span class="cursor3">_</span></p>
      <p class="line4">><span class="cursor4">_</span></p>
    </div>
  </div>
</div>
