<section class="screenBack hidden">
    <!-- <div class="pressRestart">ВКЛ</div> -->
  <div class="screen">
    <div class="end">
      <div class="endMessage">
        <div class="logo"></div>
        <p>Wait... </p>
        <p>NetStory is shutting down</p>
        <div class="loading"></div>
      </div>
    </div>
  </div>
</section>
