<div class="plug">
  <%= render "welcome_alert"%>
  <form class="subscribe" action="index.html" method="post">
    <div class="field">
      <input class="enter" type="text">
      <input class="button" type="submit" value="Subscribe">
      <%#= f.label :email %>
      <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </form>
</div>
