<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <%= render 'articles/head' %>

  <div id="theGlobe">
    <div class="theGlobeArticle">
      <div class="blueLine"></div>
      <div class="content">
        <div class="whiteBlock">
          <div class="adv">
            <div class="oval">
              <p>Join us and&nbspbecome a part of globeclub</p>
            </div>
            <div class="explore">
              <p>Explore these clubs</p>
              <div class="globeIcon"><%= image_tag 'Theglobe_logo.png'%></div>
            </div>
          </div>
          <div class="globeText">
            <div class="white"></div>
            <p>TheGlobe.com is a startup founded in 1995 by students, Stephan Paternot and Todd Krizelman. This parent of social networks was released on 21th of November in 1998 and triggered the ascension because of publication of Company shares on Stock
              Exchange in the very first day got the biggest profit in the history of primary publications on stock. The price of the most of company shares in boom of dot-coms dropped the next year that’s why the company declined releasing of shares and then
              completely ceased in 2008.
            </p>
            <h4>Early success</h4>
            <p>From the moment when students found a primitive chat in University Network they got carried away. Implementing their business capacity they collected $15,000 for Christmas Eve in 1994 and purchased Apple Internet Server. They founded a company of
              programmists called WebGenesis and spent the next few months on creating their own website. theGlobe.com released on 1st of April in 1995 and drew attention of more than 44 000 users during the first month. They recruited talents from Cornell and had
              17 employees till the first anniversary of the website.</p>
            <p>The two used the popularity of site and increasing interest to the Internet in 1997 to get a financing from Dancing Bear. As a result Paternot and Krizelman had a salary more than $ 100 000. Both of them were 23 years old. In 1998 they planned to
              make a company public. On Friday, 13th of November, 1998, theGlobe.com released their IPO. Based on their holdings young founders cost over 100 million dollars. In the end of 1990th theGlobe.com. The website was expanded by games, also the company
              bought a video game magazine, happypuppy.com (the video game website), also Chips and Bits, web shop of video games.</p>
            <h4>Decreasing and decline</h4>
            <p>As amount of successful youngsters was increasing day by day different medea started observation of these young geniuses of new economy. In 1999 CNN took on camera one night of Paternote life. He was in sparkling leather pants dancing on the table
              in a night club on Manhattan. During this performance he said: “Got a girlfriend. Got money. Now I can ready to live heinous, frivolous life”.Hi was called “General director in plastic pants”, and he became a symbol of excesses of dot-com-millioners.</p>
            <p>That year was marked as year of changing dotcoms’ turnover, the price of theGlobe.com shares dropped. As investors becoming more sceptical to “new economy” as fast prices of shares were declining..</p>
            <p>In 2000 Paternot and Krizelman were nessisated to leave the company, so it was leaded by ex vice president of AICPA, but the company that had never gotten income had to be shrinked. theGlobe.com closed the website and dismissed 50% of employees in
              August of 2001. The company continued post some of partners and publish computer games, but on the domain (www.theglobe.com) was a message that the website doesn’t work till 2003.</p>
            <p>That year theGlobe.com launched GloPhone, VoIP app, something like Skype, and used eponymous domain as the website of the product. The reviews were awful and sales were low. theGlobe.com continued to publish computer games and it considered as one
              of three best game magazines for PC in the USA. The company expanded its print editions included such magazines as Now Playing Magazine (2005) and MMO Games magazine (2006), editions dedicating to popular entertainments and mass multiplayer games.
              theGlobe.com decided to send undesirable emails to MySpace.com users and in the aftermath it was brought to justice according to CAN-SPAM law and according to similar law in California.</p>
            <p>Californian court judged theGlobe.com. Afterwards the magazines stopped publishing, homepage of Chips & Bits claimed about closing the website, GloPhone was closed on 13 March 2007. The Federal litigation meant the end of theGlobe.com.</p>
            <h4>The Trial</h4>
            <p>Компания была предметом шести предполагаемых исков акционеров. Поставщики подали в суд на прекращенный бизнес VoIP и в октябре 2011 года на него был подан иск в связи с продажей в 2005 году дочерней компании SendTec relationserv Media, которая
              впоследствии потерпела неудачу.</p>
            <h4>Tralliance</h4>
            <p>On 9 of May 2005 the company acquired Tralliance Corporation, a company that maintain a domain .travel. Till the middle of 2007 the domain theglobe.com was redirected to homepage of Tralliance. Then the company was sold to Tralliance, 29 September
              2008. theGlobe got rights on getting incomes from management of registry of Tralliance, that is the only one source of incomes of theGlobe.</p>
            <p>With sale of Tralliance, theglobe.com turned to holding company without any transactions and assets. The company works due to borrowed funds and has no employees despite heads, and each of them spent limited time to theGlobe business and got no
              compensation.</p>
          </div>
        </div>
        <div class="rightBlock">
          <div class="blueLineMin"></div>
          <div class="whiteBlockMin">
            <p>Search</p>
            <div class="search"></div>
          </div>
          <div class="blueLineMin"></div>
          <div class="whiteBlockMin second">
            <p> -> Start your club </p>
            <p> -> Build your own page </p>
            <p> -> Play games </p>
          </div>
          <div class="blueLineMin"></div>
          <div class="whiteBlockMin graph"></div>
          <div class="blueLineMin"></div>
        </div>
      </div>
      <div class="blueLine"></div>
    </div>
  </div>
</div>
