<div class="window welcome draggable">
  <div class="card">
    <div class="menuTop">
      <span class="folderTitle"></span>
      <div class="closeCard">
        <div class="closeBtn">
          <%= image_tag 'x.svg' %>
        </div>
      </div>
    </div>
    <div class="fakeScreen">
      <p class="line1">&#91;&nbsp;Yo, bro! Welcome to the NetStory land!<span class="cursor1">_</span></p>
      <p class="line2">&nbsp;&nbsp;This will help you to dive the history of the Internet!<span class="cursor2">_</span></p>
      <p class="line3">&nbsp;&nbsp;Open “HELP” folder to find out more :)&nbsp;&#93;
        <span class="cursor3">_</span></p>
      <p class="line4">><span class="cursor4">_</span></p>
    </div>
  </div>
</div>
