<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <%= render 'articles/head' %>
  
  <div id="iloveyouArticle">
    <span class="virus">
      <div class="string">
        <div class="virusIcon"></div>
        <div class="virusFrom">От</div>
        <div class="virusSubject">Тема</div>
        <div class="virusReceived">Отправлено</div>
      </div>
      <div class="inbox">
        <div class="virusIcon"></div>
        <div class="virusFrom">Qui-Gon Jinn</div>
        <div class="virusSubject">ILOVEYOU</div>
        <div class="virusReceived">Чт 5/4/00 19:14</div>
      </div>
      <div class="letter">
        <p>5 мая 2000 года, люди по всему миру стали получать электронные письма с темой: «ILOVEYOU». Внутри было обычное сообщение, которое гласило: «Будь добр, посмотри прикреплённый файл LOVELETTER, который я прислал» — и обычное вложение.</p>
        <p>Если случалось так, что вы открыли вложение, вместо любовного письма запустился бы скрипт, который немедленно начал бы переписывать все медиа-файлы на вашем компьютере с версиями самого себя (так что он будет работать снова, если вы будете открывать их). Незаметно он открыл приложение для кражи паролей и начал пытаться украсть все пароли вашего компьютера, отправляя их по электронной почте на скрытый адрес, каждый раз, когда он обнаруживал их. И когда все было сделано, вирус захватывал ваш список контактов электронной почты и отправлял рассылку с той же темой и сообщением всем вашим друзьям</p>
        <p>Вирус ILOVEYOU был разрушительным. Всего за один день он заразил десятки миллионов компьютеров и причинил ущерб в размере 10 миллиардов долларов. Правительственные учреждения должны были полностью закрыть свой почтовый сервер, чтобы остановить его распространение. Прежде чем кто-либо понял, что произошло, вирус ILOVEYOU был везде.</p>
        <p>Есть много причин, почему вирус сработал. Он использовал скрипт Visual Basic, широко используемый на Windows, поэтому подозрительное расширение исполняемого файла было скрыто при открытии сообщения электронной почты в Outlook. Он также распространялся на всех в вашем списке контактов невероятно быстро. Но настоящая причина в том, что он не атаковал наши компьютеры напрямую. Он атаковал наши внутренние социальные и человеческие желания. Независимо от того, от кого пришло письмо, немного любопытно, что следует за письмом с темой “ILOVEYOU”.</p>
        <p>В те времена когда вирусы и спам не были повсюду, кто бы не захотел открыть подобное сообщение? Не так ли?</p>
        <p>В конце концов, последствия были устранены. И хотя виновникам так и не были предъявлены официальные обвинения, они были пойманы. Большинство данных не было потеряно.В общем, всё могло быть и хуже. </p>
      </div>
    </span>

  </div>
</div>
