<div id="<%= "article_#{ @article.id }" %>" class="articleContainer draggable">
  <%= render 'articles/head' %>

  <div id="mailArticle">
    <div class="rectangle">
      <div class="topHeader">
        <h1>Electronic Mail Mailbox</h1>
        <h1>&lt;12,040&gt; NEW ELECTRONIC MAIL MESSAGES</h1>
      </div>

      <div class="messages">
        <p>[] from: Ray Tomlinson >> "something like QWERTYUIOP."</p>
        <p>[] to: Ray Tomlinson >> "It’s the first e-mail in the world"
        </p>
        <p>[] from: Ray Tomlinson >> "Ray Tomlinson sent the first network message in 1971."</p>
        <p>[] to: Ray Tomlinson >> "Like the first telegraph or telephone call, the first email marked a historic moment in the evolution of communication."
        </p>
        <p>[] from: Ray Tomlinson >> "This email was just a test message to himself."</p>
        <p>[] to: Ray Tomlinson >> "It was sent from one computer to another, standing next to him in Cambridge, Massachusetts, via ARPANET, a network of computers that was the predecessor of the Internet."
        </p>
        <p>[] from: Ray Tomlinson >> "Working for Bolt Beranek and Newman (a company chosen by the U.S. Department of Defense to create ARPANET), Tomlinson was fooling around with two programs called SNDMSG and READMAIL that allowed users to leave messages for each other on the same machine."</p>
        <p>[] to: Ray Tomlinson >> "He applied the idea of these programs to a third program called CYPNET, which allowed users to send and receive files between computers."
        </p>
        <p>[] from: Ray Tomlinson >> "The combined technology allows people to send and receive files between different computers."</p>
        <p>[] to: Ray Tomlinson >> "Despite his success with e-mail, Tomlinson is more familiar with the introduction of the dog sign "@"  as a locator in email addresses."
        </p>
      </div>

      <div class="bottomHeader">
        <h1>Open</h1>
        <h1>New</h1>
        <h1>Mark as delicious meat</h1>
        <h1 class="date">1971-09-16T23:59:58.75</h1>
      </div>

    </div>
  </div>
</div>
