<p id="notice"><%= notice %></p>

<h1>Spams</h1>

<% @spams.each do |spam| %>
  <%= render 'spam', spam: spam %>
<% end %>

<br>

<div class="button">
  <%= link_to 'New Spam', new_spam_path %>
</div>
