<div class="articleContainer" id="<%= "article_#{ @article.id }" %>">
  <div class="menuTop">
    <span class="folderTitle"><%= I18n.locale == :ru ? @article.title : @article.title_en %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
    <div id="defaultArticle">
      <div class="head">
        <h1>«Друзья» и реклама <br>Windows 95</h1>
      </div>
      <div id="100WidthPic">
          <%= image_tag 'articles/friends/taskbar.gif'%>
      </div>
      <div class="text">
        <h2>Прекрасный туториал, который покажет, что большие компании только пугали нас</h2>
        <p>В середине 90 компания Microsoft полагалась на друзей, которые знают как пользоваться совершенно новой операционной системой, Windows 95</p>
        <p>Мы говорим про Друзей - Дженнифер Энистон и Мэтью Перри, звёзд длинного видео, которое пропитано духом Всем Известного телесериала. Странно, но видео довольно хорошее. По крайней мере, точно не так плохо как можно подумать основываясь на сюжете: Энистон и Перри приходят <br> в оффис Билла Гейтса на кастинг для нового видео Microsoft, <br> и персональный секретарь Гейтса отправляется с ними <br> в путешествие по новой операционной системе.</p>
        <p>Примечательно то, что это видео-инструкция, а не реклама. <br> В то время оставалось ещё два года прежде чем Стив Джобс вернётся из изгнания в компанию Apple, 11 лет до того как Джон Ходмен придёт и реализует грузный компьютер работающий на операционной системе Microsoft. Компания Microsoft росла и Биллу Гейтсу хотелось, чтобы в каждом доме был компьютер на Microsoft. Казалось, он легко может этого достичь.</p>
        <p>Перри учится как отправлять “интернет почту” другу, состоящему в гранжевой группе, пока чокнутый парень, похожий на Гейтса,  из почтового отдела уверяет друзей, что “общение в сети самая топовая вещь сейчас, и сеть Microsoft ваш лучший проводник в информационном поле”. Затем он ищет фотографии котов. Котики - это классика. </p>
        <p>Но если отбросить в сторону устаревшую терминологию, видео довольно умело приглашает в цифровое будущее, которое до сих пор чуждо многим. Статистика октября 1995 года показала, что только 20% “онлайн” пользователей действительно выходят в сеть каждый день, и только 32% они будут избегать интернета, если не научатся им пользоваться. “World Wide Web” существовало только 2 года и люди подключались к ней через модемы на телефонных линиях. В среднем в день пользователи электронной почты отправляли по 3 сообщения <br> и получали 5.</p>
        <p>С помощью знакомых всем героев сериала компания Microsoft постаралась развеять страхи людей и показать возможности использования Windows 95 на простом языке.</p>
      </div>
    </div>
  </div>
</div>
