.computer.foldercontent.about {
  position: relative;
  width: 400px !important;
  height: 300px;
  overflow: hidden;
  font-family: $default-font-family;
  font-weight: 300;


  #info {
    position: relative;
    padding: 1.2rem;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;

    .information {
      display: flex;
      position: relative;
      flex-direction: column;
    }

    p {
      color: #000;
      line-height: 1rem;
    	font-weight: 300;
      text-align: left;
    }

    h4 {
      font-size: 80%;
      letter-spacing: 0.1em;
      line-height: 1.5rem;
    }

    .cardinside {
      display: grid;
      grid-template-columns: 25% auto;
      align-items: center;
      padding-top: 3rem;

      .occupation {
        font-weight: 600;
        color: var(--primary);
      }

      .card-avatar {
        display: grid;
        height: 70px;
        width: 70px;
        place-items: center;
      }

      .card-about {
        display: grid;
        margin-top: 1.25rem;
        grid-auto-flow: column;

        .item {
          display: flex;
          flex-direction: column;

          .labels {
            font-weight: 600;
            color: var(--primary);
          }
        }
      }



      .skills {
        display: flex;
        flex-direction: column;
        margin-top: 0.75rem;

        .labels {
         font-weight: 600;
         color: var(--primary);
       }

       .value {
         line-height: 1.5rem;
         height: 2rem;
       }
      }
    }
  }
}
