.computer.folderContent.about {
  position: relative;
  width: 400px !important;
  height: 300px;
  overflow: hidden;
  font-family: $default-font-family;
  font-weight: 300;

  #info {
    position: relative;
    padding: 1.2rem;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;

    .information {
      display: flex;
      position: relative;
      flex-direction: column;
    }

    p {
      color: #000;
      font-size: 0.75rem;
      line-height: 1.24rem;
      font-weight: 300;
      text-align: left;
    }

    h4 {
      color: #000;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .cardInside {
      display: grid;
      grid-template-columns: 25% auto;
      align-items: center;
      padding-top: 3rem;

      .occupation {
        font-weight: 600;
        color: var(--primary);
      }

      .cardAvatar {
        display: grid;
        height: 70px;
        width: 70px;
        place-items: center;
      }

      .cardAbout {
        display: grid;
        margin-top: 1.25rem;
        grid-auto-flow: column;

        .item {
          display: flex;
          flex-direction: column;

          .labels {
            font-weight: 600;
            color: var(--primary);
          }
        }
      }

      .skills {
        display: flex;
        flex-direction: column;
        margin-top: 0.75rem;

        .labels {
          font-weight: 600;
          color: var(--primary);
        }

        .value {
          line-height: 1.5rem;
          height: 2rem;
        }
      }
    }
  }
}
