#millionDollarArticle {
  width: 700px;
  height: 685px;
  overflow-y: scroll;
  line-height: 1.4rem;
  color: #000000;
  background-image: url("articles/milliondollar/MillionDollar.png");
  background-size: contain;


    .text {
      margin: 590px 50px 50px 50px;
      padding: 20px;
      background-color: #ffffff;

      h2 {
        font-size: 27pt;
        font-weight: bold;
        color: #575756;
        margin-top: 40px;
        margin-bottom: 50px;
      }

      p {
        font-size: 12pt;
        font-weight: normal;
        color: #000000;
        margin-top: 40px;

        a {
          color: #4696FC;
        }
      }
    }
}
