@import "reset.css";
$color-card-background: #FFFFFF;
$color-tag-background: #E3E5E9;
$color-anchor: #E62A5D;
$color-body-copy: #b9bcbd;
$default-font-family: 'Cera Pro';
$breakpoint-medium: "screen and (min-width: 700px)";

#old {
  width: 654px;
  height: 620px;
  height: 800px;
  background: #bfbfbf;
  padding: 0;
}

img a {
  color: blue;
  border: solid 4px;
}

a img {
  color: blue;
  border: solid 2px;
}

#old {
  width: 654px;
  border: 1px solid #aaaaaa;
  padding: 3px;
  margin: auto;
  background: #bfbfbf;
}

.write {
  font-size: 20px;
  font-weight: 300;
}

.yw1 {
  width: 50px;
  height: 100px;
}
