 /* @import "application.scss"; */

#error {
  font-family: none;
  width: 750px;
  height: 545px;
  left: 50px;
  top: 50px;
  z-index: 5;
  background-color: #ffffff;

  .t {
    position: relative;
    left: 20px;
    width: 700px;
  }

  h1 {
    color: #000000;
    font-size: 30px;
    line-height: 60px;
    margin: 0 auto;
  }
  p {
    margin-top: 10px;
  }

  .line {
    width: 300px;
    height: 2px;
    background: black;
  }

  .text {
    margin-top: 40px;
    color: #000000;
  }

  .quote {
    color: #000000;
    font-style: italic;
  }
}
