#iloveyouArticle {
  font-family: none;
  width: 750px;
  height: 480px;
  background: #d8d8d8;
  font-family: 'Courier New';
  display: flex;
  justify-content: center;

  .virus {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    border-left: $default-border;
    border-right: $default-border;

    .string {
      background: #d8d8d8;
      width: 100%;
      height: 35px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #000000;

      .virusIcon {
        display: flex;
        align-items: center;
        border-top: 2px solid white;
        border-right: 2px solid #222;
        border-bottom: 2px solid #222;
      }

      .virusFrom {
        display: flex;
        align-items: center;
        border-top: 2px solid white;
        border-right: 2px solid #222;
        border-bottom: 2px solid #222;
        border-left: 2px solid white;
      }

      .virusSubject {
        display: flex;
        align-items: center;
        border-top: 2px solid white;
        border-right: 2px solid #222;
        border-bottom: 2px solid #222;
        border-left: 2px solid white;
      }

      .virusReceived {
        display: flex;
        align-items: center;
        border-top: 2px solid white;
        border-bottom: 2px solid #222;
        border-left: 2px solid white;
      }
    }

    .inbox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: #4696FC;
      color: #000000;
      height: 35px;
      color: #ffffff;
    }

    .letter {
      width: 100%;
      height: 250px;
      margin-top: 35px;
      overflow-y: scroll;
      background: #ffffff;
      padding-left: 10px;
      padding-top: 20px;
      border-top: 2px solid #222;
      border-bottom: 2px solid #222;
      border-left: 2px solid white;
      color: #000000;
    }
  }
}

.virusIcon {
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 5%;
  height: 100%;
}

.virusFrom {
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 20%;
}

.virusSubject {
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 40%;
}

.virusReceived {
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 40%;
}
