 /* @import "application.scss"; */
 
 #default_article {
  width: 700px;
  height: 700px;
  background-color: #ffffff;
  overflow: scroll;

  .head h1 {
    font-size: 30pt;
    font-weight: bold;
    color: #000000;
    margin: 45px 70px 30px 70px;
  }

  .text {
    margin: 0 75px 50px 75px;

    h2 {
      font-size: 21pt;
      font-weight: bold;
      color: #575756;
      margin-top: 40px;
      margin-bottom: 50px;
    }

    p {
      font-size: 13pt;
      font-weight: normal;
      color: #000000;
      margin-top: 40px;
    }

    #100_width_pic {
      width: 100%;
    }
  }
}
