@import "application.scss";

@mixin list-reset() {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	color: $color-body-copy;
	font: {
		family: 'Cera Pro', sans-serif;
		size: 100%;
		weight: 300;
	}
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	background-color: $color-tag-background;
	padding: 2.1875em;
}

.articleContainer {
	position: absolute;
	left: 300px;
	/* left: 0; */
	top: 0;
  border: 2px solid black;
}

.articleWrapper,
.articleWrapper * {
	user-select: none;
}


// .computerFolders {
// 	position: relative;
// }


#browser-top {
	cursor: grab;

	.is-pointer-down & {
		cursor: grabbing;
	}
	border-bottom: $default-border;
	background-color: $color-card-background;
	height: 40px;
	// border-top-left-radius: $default-border-radius;
	// border-top-right-radius: $default-border-radius;
	padding: 8px 15px;
}

#close-btn {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	margin-bottom: 5px;
	background-color: #FF85A6;
	display: inline-block;
	cursor: pointer;
}

#close-btn.cbmail {
	background-color: #ffffff;
}

#close-btn.cbfastlink_erwise {
	border-radius: 0;
	width: 23px;
	height: 23px;
	margin-bottom: 5px;
	background-color: transparent;
	display: inline-block;
	cursor: pointer;
	position: relative;
	left: 8px;
	top: 9px;
}

#min-btn {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: #FFDF50;
	display: inline-block;
	margin: 0 5px 5px;
	cursor: pointer;
}

#full-btn {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	margin-bottom: 5px;
	background-color: #74FFA4;
	display: inline-block;
	cursor: pointer;
}

.card {
	resize: both;
	background-color: $color-card-background;
	// border-radius: $default-border-radius;
	border: $default-border;
	box-shadow: $default-box-shadow;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	// margin-right: 3rem;
	// margin-bottom: 2rem;
	@media #{$breakpoint-medium} {
		flex-direction: column;
	}
}

.background {
	background-position: center;
	background-size: cover;
	border-top-left-radius: $default-border-radius;
	border-top-right-radius: $default-border-radius;
	min-height: 250px;
	@media #{$breakpoint-medium} {
		border-top-left-radius: $default-border-radius;
		border-top-right-radius: 0;
		border-bottom-left-radius: $default-border-radius;
		min-height: none;
		width: 100%;
	}
}

img {
	vertical-align: middle;
	object-fit: contain;
	width: 100%;
}

.details {
	padding: 2.1875em 5%;
	@media #{$breakpoint-medium} {
		width: 100%;
	}

	h2,
	h4 {
		color: #000;
		font-weight: 500;
		margin: 0;
	}

	h2 {
		font-weight: bold;
		font-size: 150%;
		line-height: 1.4;
		margin-bottom: 0.35em;
	}

	h4 {
		font-size: 62.5%;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
}

.author {
	color: $color-body-copy;
	display: block;
	font-size: 62.5%;
	text-transform: uppercase;

	a {
		color: $color-anchor;
	}
}

.meta {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.375em;

	.equipment,
	.resolution {
		width: 48.75%;

		ul {
			@include list-reset;
			font-size: 87.5%;
			text-decoration: none;
		}
	}
}

.tags {
	ul {
		@include list-reset;
		display: flex;
		flex-wrap: wrap;
		font-size: 87.5%;
		margin-top: 0.35em;
		text-transform: lowercase;
		text-decoration: none;
	}

	& :hover {
		text-decoration: none;
	}

	li {
		margin: 0.35em 1em 0.35em 0;
	}

	a {
		white-space: nowrap;
		text-decoration: none !important;
		text-transform: none;
		text-transform: capitalize;
		transition: all 150ms linear;
		text-align: center;
		border-radius: 4px;
		border: $default-border;
		border-color: #000;
		display: block;
		padding: 0.3125em 1.25em;
		transition: color 0.3s ease;
		color: #202129;
		background-color: #FFF;

		&:hover {
			transition: all 150ms linear;
			color: #202129;
			background-color: #FFF;
			opacity: 0.85;
		}

		&:active {
			background-color: #d5d6d6;
			opacity: 1;
			transition: all 150ms linear;
			opacity: 0.75;
		}

		&:focus {
			outline: 1px dotted #959595;
			outline-offset: -4px;
		}
	}
}

.article_main {
	display: flex;
	flex-direction: column;
}

.massive_article {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

.articlecontent {
	display: flex;
	justify-content: space-between;
	font-family: $default-font-family;
	font-weight: 300;
	background-color: #fff;
	/* width: 100%; */
}
