#iloveyouArticle {
  font-family: none;
  width: 750px;
  height: 545px;
  background: #d8d8d8;

  .virus {
    width: 90%;
    margin: 0 auto;
    background: #ffffff;
  }
}
.virusIcon {
  width: 10%;
}
.virusFrom {
  width: 10%;
}
.virusSubject {
  width: 40%;
}
.virusReceived {
  width: 40%;
}
