#theGlobe{
  display: block;
  height: 526px;
  width: 700px;

  .theGlobeArticle {
    position: absolute;
    overflow: scroll;
    width: 100%;
    height: 496px;
    background: #679A9A;
    margin: 0px;

    .blueLine {
      width: 100%;
      height: 20px;
      background: #32679E;
    }

    .content {
      position: relative;

      .white {
        background-color: #ffff;
        border-radius: 43%;
      }

      .whiteBlock {
        display: inline-block;
        width: 540px;
        height: 2550px;
        background-color: #ffff;
        border-top-right-radius: 50px;
        border: 3px solid #E6E6FA;
      }

      .rightBlock {
        position: absolute;
        display: inline-block;
        width: 150px;
        height: 2550px;
        margin-top: 50px;

        .blueLineMin {
          width: 100%;
          height: 20px;
          background: #32679E;
        }

        .whiteBlockMin {
          width: 100%;
          height: 80px;
          background: #FFFFFF;
        }

        .blueLineMinAbs {
          width: 100%;
          height: 20px;
          background: #32679E;
          margin-top: 100px;
          margin-bottom: 100px;

        }
      }

      .adv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

      .oval {
        position: relative;
        width: 158px;
        height: 86px;
        background: #FEFDC5;
        border: 3px solid #32679E;
        border-radius: 69%;
        top: 20px;
        left: 10px;

        p {
          color: #32679E;
          font-size: 13px;
          margin-left: 31px;
          margin-top: 18px;
        }
      }

      .explore {
        display: flex;
        align-items: baseline;
        position: relative;
        top: 23px;

        p {
          position: relative;
          color: #FF5900;
          line-height: 22px;
          left: -5px;
        }
      }

      .globeIcon {
        width: 30px;
        height: 30px;
      }

      .globeText {
        position: absolute;
        width: 400px;
        scroll-behavior: smooth;
        margin-top: 100px;
        margin-left: 50px;

        p {
          color: #070707;
          font-size: 15px;
          font-weight: normal;
          display: flex;
        }

        h4{
          font-weight: bold;
          color: #070707;
          margin-top: 40px;
          margin-bottom: 10px;
        }

        h4,
        p {
          position: relative;
          width: 400px;
        }
      }
    }
  }
}
