@import "reset.css";
$color-card-background: #FFFFFF;
$color-tag-background: #E3E5E9;
$color-anchor: #E62A5D;
$color-body-copy: #b9bcbd;
$default-font-family: 'Cera Pro';
$breakpoint-medium: "screen and (min-width: 700px)";

#err {
  width: 800px;
  height: 600px;
  left: 50px;
  top: 50px;
  z-index: 5;

  .t {
    position: relative;
    left: 20px;
    width: 764px;
  }

  h1 {
    font: none;
    color: #000000;
    font-size: 30px;
    line-height: 60px;
    margin: 0 auto;
  }

  .line {
    width: 300px;
    height: 2px;
    background: black;
  }

  .text {
    margin-top: 20px;
    font: none;
    color: #000000;
    width: 750px;
  }

  .quote {
    font: none;
    color: #000000;
    font-style: italic;
  }
}
