#blueScreenArticle {
  background: #100FDB;
  font-family: 'Lucida Console';
  color: #E2E2E2;
  width: 915px;
  height: 600px;
  overflow: scroll;
  padding: 10px;

  .blueLine {
    p {
      line-height: 21px;

      &:last-Child {
        margin-top: 21px;
      }

      .dots {
        width: 0;
        animation: type 0.9s 1s steps(10, end) forwards;

        @keyframes type {
          to {
            width: 100%;
          }
        }
      }
    }
  }

  h1 {
    width: 118px;
    height: 23px;
    background: #E2E2E2;
    color: #100FDB;
    line-height: 23px;
    text-align: center;
    margin: 0 auto;
    animation: blink 1.5s 0.5s infinite;
    @keyframes blink {
      0% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      90% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }

  .blueScreenTable {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    p {
      display: flex;
      flex-direction: column;
      width: 227px;
      margin: 10px;
    }
  }
}
