#mailArticle {
  font-family: 'Courier New';
  position: relative;
  color: #ffffff;
  background-color: #272827;
  width: 900px;
  height: 600px;

  h1 {
    font-size: 16px;
  }

  .rectangle {
    position: relative;
    left: 8px;
    top: 35px;
    padding-top: 30px;
    width: 870px;
    height: 550px;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
  }

  .topHeader {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 840px;
    left: 8px;
  }

  .messages p {
    position: relative;
    font-size: 16px;
    width: 840px;
    top: 5px;
    left: 20px;
  }

  .bottomHeader {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    bottom: 5px;
    left: 10px;
    right: 20px;
  }

  .date {
    position: relative;
    left: 150px;
  }

}
