@import "application.scss";

#old {
  width: 654px;
  height: 650px;
  border: 1px solid #aaaaaa;
  padding: 3px;
  margin: auto;
  background: #bfbfbf;
  padding: 0;
  overflow: scroll;

  img a {
    color: blue;
    border: solid 4px;
  }

  a img {
    color: blue;
    border: solid 2px;
  }

  .write {
    font-size: 20px;
    font-weight: 300;
  }

  .yw1 {
    width: 50px;
    height: 100px;
  }
}
