// Variables
$radius: 2px;

// attach Mixin
@mixin attach($width, $background, $padding) {

  %base-shadow {
    box-shadow: -18px 18px 4px 0px rgba(0, 0, 0, 0.2);
  }

  %attach-base {
    position: relative;
    float: left;
    width: $width;
    border-radius: $radius;
    @extend %base-shadow;
    background: $background;
    overflow: hidden;
  }

  .attach {
    @extend %attach-base;
    margin: 0 40px 20px 0;
  }

  .attach-header,
  .attach-body {
    position: relative;
    padding: $padding;
  }

  .attach-header {

    img {
      display: block;
      max-width: 100%;
    }

  }
}

.attachmennt_main {
  display: flex;
  flex-direction: column;
}


// Mixin Calls
@include attach(320px, #fff, 20px);
