:root {
  --main-color: $mainColor;
  --background: white;
  --primary: #FF85A6;
  --secondary: #1effc3;
  --card-size: 300px;
}

html {
 box-sizing: border-box;
 color: $color-body-copy;
 font-family: $default-font-family;
 overflow: hidden;

 img {
 	vertical-align: middle;
 	object-fit: contain;
 	width: 100%;
 }

 font: {
   family: 'Cera Pro', sans-serif;
   size: 100%;
   weight: 300;
 }

 a:focus {
    text-decoration: none!important;
    text-transform: none;
    background-color: inherit;
    color: #000;
    outline: none;
  }

  button:focus {
    outline: none;
  }

  body {
   background-color: $color-tag-background;
   margin: 0;
   height: 100vh;
   width: 100vw;
   background-position: center;
   background-size: cover;
   cursor: default;
   cursor: url('../images/cursor-mouse.png'), default;
   position: relative;
   overflow: hidden;
   padding: 2.1875em;

   a {
    text-decoration: none!important;
    text-transform: none;
    color: #000;
    line-height: 1rem;

    &:hover {
      text-decoration: none!important;
      text-transform: none;
      background-color: inherit;
    }
   }

   p {
     margin: 0 0 10px;
   }
  }

  *,
  *:after,
  *:before {
   box-sizing: inherit;
  }

  .hidden {
    display: none !important
  }

  ::-webkit-scrollbar-track {
    border: 2px solid #1D1D1B;
    border-top: none;
    border-right: none;
    border-bottom: none;
  }

  ::-webkit-scrollbar {
    width: 1.2 rem;
    background-color: #DADAD3;
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid #1D1D1B;
    border-right: none;
    background-color: #C1C1BF;
  }
}
