.computer.folderContent.credits {
  position: relative;
  width: 600px !important;
  height: 500px;
  left: 675px;
  top: 32px;
  overflow: hidden;
  font-family: $default-font-family;
  font-weight: 300;
}
