.folderContent {
  height: 403px;
  width: 560px;
  background-color: #FFF;
  border: $default-border;
  box-shadow: $default-box-shadow;

  p {
    color: #000000;
    font-weight: bold;
    font-size: 0.6rem;
    line-height: 1.2rem;
    text-align: center;
  }

  .contentInside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    height: 80%;
    padding: 15px 17px;

    & > div {
      margin: 0 16px;
    }

    img {
      width: 65px;
    }

    .draggable {
      height: 80px;
    }

    .folderFolder {
      width: 104px;
      display: flex;
      justify-content: center;
    }
  }

  .searchText {
    position: relative;
    padding: 3px;
    text-align: left;
    line-height: 0.8rem;
    font-weight: normal !important;
    margin-left: 1rem;
    color: #000;
  }

  .search {
    margin: 1.7rem;
    position: relative;
    width: 300px;
    height: 21px;
    background-color: #FFF;
    border: $default-border;
    border-radius: 10px;
  }

  .searchField {
    margin: 0 auto;
    top: 1rem;
    position: relative;
    width: 80%;
    height: 32px;
    color: #DADAD3;
    border: $default-border;
  }

  .forInternet {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

    .google {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      padding-top: 6rem;

      img{
        position: relative;
        width: 70%;
      }
    }
  }

  .searchButton {
    color: #000;
    position: relative;
    margin: 0 auto;
    top: 2rem;
    width: 20%;
    height: 32px;
    border: $default-border;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADAD3;

    p {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 400;
    }

    &:hover {
      cursor: $default-cursor;
    }
  }
}

#folder_3 .contentInside {
  display: flex;
  justify-content: flex-start;
  padding: 15px 20px;

  & > div {
    margin: 0 16px;
  }

  img {
    width: 72px;
  }
}

#containerFolder_8, #containerFolder_9 {
  left: 91%;
  bottom: 10%;
}

#containerFolder_9.ui-state-hover .articleIcon {
  box-shadow: 0px 0px 5px 0px rgba(0,72,255,1);
}
