@font-face {
    font-family: 'Clear Sans';
    src: font-url('ClearSans-Light.eot');
    src: local('Clear Sans Light'), local('ClearSans-Light'),
        font-url('ClearSans-Light.eot?#iefix') format('embedded-opentype'),
        font-url('ClearSans-Light.woff') format('woff'),
        font-url('ClearSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: font-url('ClearSans.eot');
    src: local('Clear Sans'), local('ClearSans'),
        font-url('ClearSans.eot?#iefix') format('embedded-opentype'),
        font-url('ClearSans.woff') format('woff'),
        font-url('ClearSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: font-url('ClearSans-Italic.eot');
    src: local('Clear Sans Italic'), local('ClearSans-Italic'),
        font-url('ClearSans-Italic.eot?#iefix') format('embedded-opentype'),
        font-url('ClearSans-Italic.woff') format('woff'),
        font-url('ClearSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Clear Sans';
    src: font-url('ClearSans-Thin.eot');
    src: local('Clear Sans Thin'), local('ClearSans-Thin'),
        font-url('ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
        font-url('ClearSans-Thin.woff') format('woff'),
        font-url('ClearSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: font-url('ClearSans-MediumItalic.eot');
    src: local('Clear Sans Medium Italic'), local('ClearSans-MediumItalic'),
        font-url('ClearSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        font-url('ClearSans-MediumItalic.woff') format('woff'),
        font-url('ClearSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Clear Sans';
    src: font-url('ClearSans-Medium.eot');
    src: local('Clear Sans Medium'), local('ClearSans-Medium'),
        font-url('ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
        font-url('ClearSans-Medium.woff') format('woff'),
        font-url('ClearSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: font-url('ClearSans-BoldItalic.eot');
    src: local('Clear Sans Bold Italic'), local('ClearSans-BoldItalic'),
        font-url('ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        font-url('ClearSans-BoldItalic.woff') format('woff'),
        font-url('ClearSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Clear Sans';
    src: font-url('ClearSans-Bold.eot');
    src: local('Clear Sans Bold'), local('ClearSans-Bold'),
        font-url('ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
        font-url('ClearSans-Bold.woff') format('woff'),
        font-url('ClearSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: font-url('CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        font-url('CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('CeraPro-Regular.woff') format('woff'),
        font-url('CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Courier New';
  src: local('Courier New'),
      font-url('CourierStd.otf') format('opentype'),
      font-url('CourierStd-Bold.otf') format('opentype'),
      font-url('CourierStd.woff') format('woff'),
      font-url('CourierStd-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
