@import "reset.css";
$color-card-background: #FFFFFF;
$color-tag-background: #E3E5E9;
$color-anchor: #E62A5D;
$color-body-copy: #b9bcbd;
$default-border-radius: 5px;
$default-border: 1px solid black;
$default-box-shadow:-0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
$breakpoint-medium: "screen and (min-width: 700px)";


#Desktop {
  display: flex;
  align-content: left;
  flex-direction: column;
  align-items: flex-start;
  height: 85vh;
  padding: 25px;
  position: absolute;
  left: 0 !important;
  text-align: left;
  width: 100%;
}

#Desktop span.icon {
  display: block;
  float: left;
  margin: 5px 0;
  transition: all 0.2s;
  width: auto;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

#Desktop span.icon:after {
  color: #fff;
  content: attr(data-title);
  display: block;
  margin-bottom: 10px;
  padding: 1px 5px;
  text-shadow: 0 0 4px #000;
  transition: all 0.2s;
}

#Desktop span.icon img {
  border: 2px solid rgba(225, 225, 225, 0);
  border-radius: 6px;
  transition: all 0.2s;
  width: 75px;
}

.focus img {
  border: 2px solid rgba(225, 225, 225, 0.5) !important;
  border-radius: 6px;
}

span.focus:after {
  border-radius: 15px;
  text-shadow: none !important;
}

.foldercontent {
  display: none;
  position: absolute;
  z-index: 3;
  height: 500px;
  width: 600px;
  background-color: #F7F7F7;
  padding: 10px 10px 40px;
  border-radius: 5px;
  border: $default-border;
  box-shadow: $default-box-shadow;
}

#computer.foldercontent {
  height: 400px;
  width: 400px;
}

#info.foldercontent {
  font-family: 'ClearSans';
  height: 200px;
  width: 600px;
}

.foldercontent p {
  padding: 20px;
  font-weight: lighter;
  font-size: 13px;
  line-height: 18px;
}

#err.foldercontent {
  width: 800px;
  height: 520px;
  z-index: 6;
}

#guiewrise.foldercontent {
  background: #729CFE;
  width: 780px;
  height: 600px;
  z-index: 6;
  border: $default-border;
  border-radius: 0;
}

#mailb.foldercontent {
  width: 900px;
  height: 760px;
  background: #272827;
  position: relative;
  top: 0;
  left: 0;
  background-color: #272827;
  width: 900px;
  height: 666px;
  color: #ffffff;
  font-family: Courier New;
}

#landing.foldercontent {
  width: 654px;
  height: 620px;
  height: unset;
  background: #bfbfbf;
  padding: 0;
  border-radius: 0;
}

.infoldercontent {
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .setting {
  	height: 100%;
  	width: 100%;
  }

  .bgcolors {
  	display: flex;
  	height: 200px;
  }

  .backgroundcolor {
  	display: block;
  	height: 30px;
  	width: 30px;
  	border: 1px solid black;
  	border-color: #000;
    margin-right: 0.35em;
    border-radius: 5px;
  }

  #pink {
  	background-color: #ff85a6;
  }

  #blue {
  	background-color: #2196F3;
  }

  #yellow {
  	background-color: #FEC006;
  }

  #black {
  	background-color: #2c302e;
  }
}

#er.article-icon {
  display: flex;
  flex-direction: column;
  background-image: url("icons/notfound_icon.png");
  background-size: cover;
  width: 91px;
  height: 113px;
  position: relative;
  left: 30px;
  top: 30px;
  cursor: pointer;
}

#gui.article-icon {
  display: flex;
  flex-direction: column;
  background-image: url("icons/erwise_icon.png");
  background-size: cover;
  width: 91px;
  height: 113px;
  position: relative;
  top: 30px;
  cursor: pointer;
}

#mailb.article-icon {
  display: flex;
  flex-direction: column;
  background-image: url("icons/mail_icon.png");
  background-size: cover;
  width: 91px;
  height: 113px;
  position: relative;
  top: 30px;
  left: -30px;
  cursor: pointer;
}

#att.article-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("icons/at&t_icon.png");
  background-size: cover;
  width: 91px;
  height: 113px;
  position: relative;
  top: 30px;
  left: -60px;
  cursor: pointer;
}

.article-icon p {
  position: relative;
  top: 118px;
  text-align: center;
}


#fastlink_erwise {
  width: 237px;
  height: 300px;;
  background-image: url(erwise/fastlink_erwise.png);
  background-size: cover;
  position: absolute;
  z-index: 10;
  left: 400px;
  top: 450px;
  box-shadow: $default-box-shadow;
  color: #00000030;
  cursor: pointer;
}

#fastlink_att {
  width: 515px;
  height: 60px;;
  background-image: url(att/tfba.png);
  background-size: cover;
  position: absolute;
  z-index: 10;
  left: 800px;
  top: 200px;
  box-shadow: $default-border;
  color: #00000030;
  cursor: pointer;
}
