@import "reset.css";
$color-card-background: #FFFFFF;
$color-tag-background: #E3E5E9;
$color-anchor: #E62A5D;
$color-body-copy: #b9bcbd;
$default-border-radius: 5px;
$default-border: 2px solid black;
$default-box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
$breakpoint-medium: "screen and (min-width: 700px)";

#Desktop {
  display: flex;
  align-content: left;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 25px;
  position: absolute;
  left: 0 !important;
  text-align: left;
  width: 100%;
}

#Desktop span.icon {
  display: block;
  float: left;
  margin: 5px 0;
  transition: all 0.2s;
  width: auto;
  // z-index: 1;
  text-align: center;
  cursor: pointer;
}

#Desktop span.icon:after {
  color: #fff;
  content: attr(data-title);
  display: block;
  margin-bottom: 10px;
  padding: 1px 5px;
  text-shadow: 0 0 4px #000;
  transition: all 0.2s;
}

#Desktop span.icon img {
  border: 2px solid rgba(225, 225, 225, 0);
  border-radius: 6px;
  transition: all 0.2s;
  width: 75px;
}

.focus img {
  border: 2px solid rgba(225, 225, 225, 0.5) !important;
  border-radius: 6px;
}

span.focus:after {
  border-radius: 15px;
  text-shadow: none !important;
}

.foldercontent {
  display: none;
  position: absolute;
  z-index: 2;
  height: 403px;
  width: 560px;
  background-color: #FFF;
  // padding: 10px 10px 40px;
  // border-radius: 5px;
  border: $default-border;
  box-shadow: $default-box-shadow;
}

.desktop-folder_center {
  left: -webkit-calc(50vw - 26rem);
  left: calc(50vw - 26rem);
  top: 14vh;
}

div.closebtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: #C1C1BF;
  border-top: 2px solid #1d1e1c !important;
  border-right: 2px solid #1d1e1c !important;
  border-bottom: 2px solid #1d1e1c !important;
  cursor: pointer;
  cursor: url('cursor-pointer.png'), pointer !important;;
  z-index: 2;
}

.closebtn img {
  width: 21px;
  height: 21px;
  margin: 0 auto;
}

.information {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
// ARTICLES FOLDER
.menu_top {
  border-bottom: 2px solid #1d1e1c;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  background-color: #DADAD3;
  vertical-align: middle;
}

.folder_title {
  position: relative;
  margin: 0 auto;
}

#info.foldercontent {
  font-family: 'Cera Pro';
  font-weight: 300;
  width: 600px;
}

.foldercontent p {
  font-weight: bold;
  font-size: 1.4rem;
}

#err.foldercontent {
  width: 800px;
  height: 520px;
}

#guiewrise.foldercontent {
  background: #729CFE;
  width: 780px;
  height: 600px;
  border: $default-border;
  border-radius: 0;
}

#mailb.foldercontent {
  width: 900px;
  height: 760px;
  background: #272827;
  position: relative;
  top: 0;
  left: 0;
  background-color: #272827;
  width: 900px;
  height: 666px;
  color: #ffffff;
  font-family: Courier New;
}

#landing.foldercontent {
  width: 654px;
  height: 620px;
  height: 600px;
  overflow: scroll;
  background: #bfbfbf;
  padding: 0;
  border-radius: 0;
}

.folder-content__wrap-overflow {
  padding: 1.5rem;
}

.nav_basic {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.nav_basic li {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.project-list__item {
  width: auto;
}

.project-list__item {
  display: flex;
  width: 19%;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
}

#er.article-icon {
  background-image: url("icons/notfound_icon.png");
}

#gui.article-icon {
  background-image: url("icons/erwise_icon.png");
}

#mailb.article-icon {
  background-image: url("icons/mail_icon.png");
}

#att.article-icon {
  background-image: url("icons/at&t_icon.png");
}

.article-icon {
  width: 65px;
  height: 80px;
  position: relative;
  margin: 0 auto;
  background-size: cover;
  cursor: pointer;
  margin-bottom: 0.8rem;
}

.article-icon:hover {
  transform: scale(1.1);
}

#fastlink_erwise {
  width: 237px;
  height: 300px;
  background-image: url("erwise/fastlink_erwise.png");
  background-size: cover;
  position: absolute;
  left: 928px;
  top: 21px;
  box-shadow: $default-box-shadow;
  color: #00000030;
  cursor: pointer;
}

#fastlink_att {
  width: 515px;
  height: 60px;
  background-image: url("att/tfba.png");
  background-size: cover;
  position: absolute;
  z-index: 2;
  box-shadow: $default-border;
  color: #00000030;
  cursor: pointer;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
  top: 420px;
  left: 554px;
}

.share-button {
  font-family: 'Cera Pro';
  font-weight: bold;
  text-align: center;
  position: relative;
  transition: all 150ms linear;
  border: 2px solid black;
  transition: color 0.3s ease;
  color: #202129;
  background-color: #DADAD3;
  height: 30px;
  width: 100px;
  padding-top: 0.35em;
  overflow: hidden;
  user-select: none;

  &:hover {
    transition: all 150ms linear;
    color: #202129;
    background-color: #DADAD3;
    opacity: 0.85;
  }

  &:active {
    background-color: #DADAD3;
    opacity: 1;
    transition: all 150ms linear;
    opacity: 0.75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}
/*----- FIX overflow + transform + border-radius ---*/
.share-button:before {
  position: relative;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0 0 0 50px #36bfa6;
  box-sizing: content-box;
  transform: translate(0,0);
  z-index: 3;
  pointer-events: none;
}

.lid {
  font-family: 'Cera Pro';
  font-weight: 300;
  width: 100%;
  height: 100%;
  // background: #fff;
  border-radius: 20px;
  color: #000;
  transition: 300ms ease all;
  transform-origin: 0 0;
  cursor: default;
  z-index: 4;
}

.open .lid {
  transform: rotateX(90deg);
}

.thank-you {
  font-family: 'Cera Pro';
  font-weight: 300;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  color: #000;
  transition: 300ms ease all;
}

.thankyou .thank-you {
  position: absolute;
  top: 3px;
}

.share-item {
  display: block;
  color: #000;
  background: #000;
  text-decoration: none;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  float: left;
  margin-left: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: 500ms ease all;
}

.share-item:active {
  transition: 50ms ease all;
}

.share-item:nth-child(1) {
  transform: translateX(200px) rotate(180deg);
}

.share-item:nth-child(2) {
  transform: translateX(400px) rotate(200deg);
}

.share-item:nth-child(3) {
  transform: translateX(580px) rotate(220deg);
}

.share-item:nth-child(4) {
  transform: translateX(740px) rotate(240deg);
}

.share-item:nth-child(5) {
  transform: translateX(880px) rotate(260deg);
}

.share-item:nth-child(6) {
  transform: translateX(1000px) rotate(280deg);
}

.open .share-item {
  transform: translateX(0) rotate(0);
  margin-left: 3px;
}

.share-items {
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  height: 50px;
  padding: 3px 0;
  width: 100px;
}

.share-items-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100px;
}

.shared .share-item {
  transform: translateY(200px);
}

.shared .share-item:nth-child(1) {
  transition: 200ms cubic-bezier(.32,-0.22,.9,.93) all;
}

.shared .share-item:nth-child(2) {
  transition: 600ms cubic-bezier(.32,-0.22,.9,.93) all;
}

.shared .share-item:nth-child(3) {
  transition: 1000ms cubic-bezier(.32,-0.22,.9,.93) all;
}

.shared .share-item:nth-child(4) {
  transition: 1400ms cubic-bezier(.32,-0.22,.9,.93) all;
}

.shared .share-item:nth-child(5) {
  transition: 1800ms cubic-bezier(.32,-0.22,.9,.93) all;
}

.shared .share-item:nth-child(6) {
  transition: 2200ms cubic-bezier(.32,-0.22,.9,.93) all;
}

#info {
  height: 250px !important;
  width: 400px !important;

  p {
    color: #000;
  }
}
