.computer.folderContent {
  font-family: 'TT Norms';
  font-weight: 300;
  font-size: 0.6rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 403px;
  width: 560px;
  top: 59px;
  left: 136px;
}
