
/* SETTINGS */
#computer.foldercontent {
  font-family: 'Cera Pro';
  font-weight: 300;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 403px;
  width: 560px;
}
