#fastLinkErwise {
  width: 259px;
  height: 300px;
  position: absolute;
  right: 9%;
  top: 7%;
  background-color: #4696FC;
  box-shadow: $default-box-shadow;
  color: #00000030;
  border: 2px solid black;
  cursor: $default-cursor;

  .fastLinkErwiseImg {
    background-image: image-url("erwise/erwise-02.svg");
    background-size: cover;
    width: 90px;
    height: 90px;
    margin: 20px auto;
  }

  p {
    color: #fff;
    font-family: 'Courier New';
    margin: 0 auto;
    width: 80%;
    line-height: 1.2rem;
    font-size: 0.8rem;
  }
}

#fastLinkAtt {
  left: 53%;
  top: 36%;
  width: 240px;
  height: 350px;
  position: absolute;
  box-shadow: $default-border;
  color: #00000030;
  cursor: $default-cursor;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
  border: $default-border;
}

.fastLinkImg {
  position: relative;
  background-image: image-url("att/first_banner.svg");
  background-size: cover;
  height: 316px;
}
