#fastLinkErwise {
  width: 237px;
  height: 300px;
  position: absolute;
  left: 75%;
  top: 21px;
  background-color: #729CFE;
  box-shadow: $default-box-shadow;
  color: #00000030;
  border: 2px solid black;
  cursor: $default-cursor;

  .fastLinkErwiseImg {
    background-image: url("erwise/fastlink_erwise.svg");
    background-size: cover;
    width: 80px;
    height: 80px;
    margin: 20px auto;
  }

  p {
    color: #000000;
    font-family: 'Courier New';
    width: 95%;
    margin-left: 10px;
    line-height: 18px;
  }

}

#fastLinkAtt {
  left: 38%;
  top: 38%;
  width: 240px;
  height: 270px;
  position: absolute;
  box-shadow: $default-border;
  color: #00000030;
  cursor: $default-cursor;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
  border: $default-border;
}

.fastLinkImg {
  position: relative;
  background-image: url("att/first_banner.gif");
  background-size: cover;
  height: 236px;
}
