#screensaver {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 9999;
  background-color: rgba(25, 85, 457, .5);

  .animation {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .x {
      position: absolute;

      .bubbleBlue {
        -webkit-animation: x 7s linear infinite alternate;
        animation: x 7s linear infinite alternate;

        .y {
          width: 250px;
          height: 250px;
          background-size: cover;
          background-image: url("bubble_blue.png");
          -webkit-animation: y 5s linear infinite alternate;
          animation: y 5s linear infinite alternate;
        }
      }

      .bubbleBlueSecond {
        -webkit-animation: x 5s linear infinite alternate;
        animation: x 5s linear infinite alternate;

        .y {
          -webkit-animation: y 4s linear infinite alternate;
          animation: y 4s linear infinite alternate;
        }
      }

      .bubblePink {
        top: 100px;
        left: 500px;
        -webkit-animation: x 12s linear infinite alternate;
        animation: x 12s linear infinite alternate;

        .y {
          width: 250px;
          height: 250px;
          background-size: cover;
          background-image: url("bubble_pink.png");
          -webkit-animation: y 17s linear infinite alternate;
          animation: y 17s linear infinite alternate;
        }
      }

      .bubblePinkSecond {
        -webkit-animation: x 8s linear infinite alternate;
        animation: x 8s linear infinite alternate;
        animation-delay: 6s ease 2;

        .y {
          -webkit-animation: y 10s linear infinite alternate;
          animation: y 10s linear infinite alternate;
        }
      }

      .bubbleYellow {
        -webkit-animation: x 12s linear infinite alternate;
        animation: x 12s linear infinite alternate;

        .y {
          width: 250px;
          height: 250px;
          background-size: cover;
          background-image: url("bubble_yellow.png");
          -webkit-animation: y 9s linear infinite alternate;
          animation: y 9s linear infinite alternate;
        }
      }

      .bubbleYellowSecond {
        -webkit-animation: x 10s linear infinite alternate;
        animation: x 10s linear infinite alternate;

        .y {
          -webkit-animation: y 4s linear infinite alternate;
          animation: y 4s linear infinite alternate;
        }
      }

      .bubbleGreen {
        -webkit-animation: x 21s linear infinite alternate;
        animation: x 21s linear infinite alternate;

        .y {
          width: 250px;
          height: 250px;
          background-size: cover;
          background-image: url("bubble_green.png");
          -webkit-animation: y 16s linear infinite alternate;
          animation: y 16s linear infinite alternate;
        }
      }

      .bubbleGreenSecond {
        -webkit-animation: x 4s linear infinite alternate;
        animation: x 4s linear infinite alternate;

        .y {
          -webkit-animation: y 13s linear infinite alternate;
          animation: y 13s linear infinite alternate;
        }
      }
    }


    @-webkit-keyframes x {
      100% {
        -webkit-transform: translateX(calc(100vw - 200px));
        transform: translateX(calc(400vw - 200px));
      }
    }
    @keyframes x {
      100% {
        -webkit-transform: translateX(calc(100vw - 200px));
        transform: translateX(calc(100vw - 200px));
      }
    }
    @-webkit-keyframes y {
      100% {
        -webkit-transform: translateY(calc(100vh - 200px));
        transform: translateY(calc(100vh - 200px));
      }
    }
    @keyframes y {
      100% {
        -webkit-transform: translateY(calc(100vh - 200px));
        transform: translateY(calc(100vh - 200px));
      }
    }
  }
}
