#setting {
  box-sizing: border-box;
  position: absolute;
  height: 384px;
  width: 224px;
  left: -.5rem;
  bottom: 41px;
  font-family: $default-font-family;
  font-weight: 300;

  .infoldercontent {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: $default-font-family;
    font-weight: 300;

    .settings_first {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100px;
      margin-left: 2rem;
      margin-right: 2rem;
      padding-top: 1rem;

      .color-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .backgroundcolor {
          display: block;
          width: 32px;
          height: 32px;
          font-size: 0;
          border: $default-border;
          margin-top: 1rem;
          cursor: $cursor-pointer;
        }

        #pink {
          background-color: #ff85a6;
        }

        #blue {
          background-color: #2196F3;
        }

        #yellow {
          background-color: #FEC006;
        }

        #black {
          background-color: #2c302e;
        }

        .black {
          color: #ffffff;
        }
      }
    }
  }

  h3 {
    display: block;
    font-weight: bold;
  }

  h4 {
    letter-spacing: 0.1em;
  }

  .setting {
    h3 {
      color: #000000;
    }

    .setting_100 {
      padding-bottom: 1rem;
    }

    .setting__title {
      text-align: center;
    }

    .setting__dropdown-wrap {
      position: relative;
      left: 8%;

      .setting__dropdown-button {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        /* display: flex; */
        margin: 0 auto;
        width: 80%;
        height: 32px;
        color: black;
        font-size: 0.9rem;
        text-align: left;
        background-color: $background-elemts;
        border: $default-border;
        cursor: $cursor-pointer;
        cursor: pointer;
        cursor: url('../img/cursor-pointer.png'), pointer;
      }

      .setting__dropdown {
        position: relative;
        width: 84%;
        background-color: $background-elemts;
        border: $default-border;
        border-top: none;

        .setting__dropdown__option,
        .setting__dropdown__option:visited {
          display: block;
          margin: 0 auto;
          width: 100%;
          padding: 1rem;
          color: black;
          text-decoration: none !important;
          filter: none !important;
          font-size: 0.9rem;

          &:hover {
            color: white;
            background-color: black;
          }
        }
      }

      .dropdown__arrow-wrap {
        position: absolute;
        margin-right: 2.2rem;
        padding: 2%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        height: 32px;
        width: 32px;
        background-color: #c1c1bf;
        border: $default-border;
        pointer-events: none;
      }
    }
  }

  .setting_border {
    margin-bottom: 1rem;
    border-bottom: $default-border;
  }
}

#normal {
  filter: none;
}

.normal {
  -webkit-filter: none;
  filter: none;
}

#black-white {
  filter: grayscale(100%);
}

.black-white {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#hue-rotate {
  filter: hue-rotate(180deg);
}

.hue-rotate {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}

#negative {
  filter: invert(100%);
}

.negative {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
