$default-border: 2px solid black;
$default-box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
$default-font-family: 'Cera Pro';
$breakpoint-medium: "screen and (min-width: 700px)";
$cursor-pointer: url('cursor-pointer.png'), pointer;
$background-elemts: #DADAD3;

#setting.foldercontent {
  box-sizing: border-box;
  position: absolute;
  height: 384px;
  width: 224px;
  left: -.5rem;
  bottom: 51px;
  font-family: $default-font-family;
  font-weight: 300;
}

.infoldercontent {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-family: $default-font-family;
  font-weight: 300;
}


h3 {
  display: block;
  font-weight: bold;
}

.setting__title {
  font-size: 1.4rem !important;
  letter-spacing: 0.04rem !important;
  text-align: center;
}

.settings_first {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 0.5rem;
}

.setting_border {
  padding-bottom: 1rem;
  border-bottom: $default-border;
}

.color-list {
  display: flex;
  justify-content: space-around;
}

.backgroundcolor {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  border: $default-border;
  margin-top: 1rem;
  cursor: $cursor-pointer;
}

#pink {
  background-color: #ff85a6;
}

#blue {
  background-color: #2196F3;
}

#yellow {
  background-color: #FEC006;
}

#black {
  background-color: #2c302e;
}

h4 {
  font-size: 62.5%;
  letter-spacing: 0.1em;
  // text-transform: uppercase;
}

.color-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*FILTERS*/

	.setting__dropdown-button {
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    position: relative;
	    display: flex;
	    margin: 0 auto;
	    width: 80%;
	    height: 32px;
	    color: black;
	    font-size: 1.2rem;
	    text-align: left;
	    background-color: $background-elemts;
	    border: $default-border;
	    cursor: $cursor-pointer;
	}

	.setting__dropdown {
	    position: relative;
	    margin: 0 auto;
	    width: 80%;
	    background-color: $background-elemts;
	    background-color: $background-elemts;
	    border: $default-border;
	    border-top: none;
	}

	.setting__dropdown-wrap {
	    position: relative;
	}

	.dropdown__arrow-wrap {
	    position: absolute;
	    margin-right: 2.2rem;
	    box-sizing: border-box;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    top: 0;
	    right: 0;
	    height: 32px;
	    width: 32px;
	    /* padding: 0.4rem; */
	    background-color: #c1c1bf;
	    border: $default-border;
	    pointer-events: none;
	}
	.dropdown__arrow-wrap img{
	    width: 1.7rem;
	}

	.setting__dropdown__option,
	.setting__dropdown__option:visited {
	    display: block;
	    margin: 0 auto;
	    width: 100%;
	    padding: 1rem;
	    color: black;
	    text-decoration: none !important;
	}
	.setting__dropdown__option:hover {
	    color: white;
	    background-color: black;
	}

	.normal {
	    filter: none;
	}

	.black-white {
	    filter: grayscale(100%);
	}

	.hue-rotate {
	    filter: hue-rotate(180deg);
	}

	.negative {
	    filter: invert(100%);
	}
