.spam {
  position: absolute;

  .spamWindow {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    position: absolute;
    box-shadow: $default-box-shadow;
    border: $default-border;

    .spamImg {
      position: relative;
      box-sizing: border-box;
      width: 100%;
    }
  }

  #alert1 {
    z-index: 100;
    width: 250px;
    left: 844px;
    top: 205px;
    transform: translate(-50%, -50%);
  }

  #alert2 {
    z-index: 100;
    width: 154px;
    left: 208px;
    top: 331px;
  }

  #alert3 {
    z-index: 100;
    width: 10vw;
    left: 71px;
    top: 135px;
  }

  #alert4 {
    z-index: 100;
    width: 241px;
    height: 243px;
    left: 34px;
    top: 87px;

    img {
      width: 100%;
    }
  }

  #alert5 {
    z-index: 100;
    height: 163px;
    width: 300px;
    left: 802px;
    top: 386px;

    img {
      width: 100%;
    }
  }

  #alert6 {
    z-index: 100;
    height: 268px;
    width: 239px;
    left: 502px;
    top: 386px;

    img {
      width: 100%;
    }
  }

}
