$default-border: 2px solid black;
$default-box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);

/* SPAM */
.spam-window {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    box-shadow:$default-box-shadow;
}
.spam {
    position: relative;
}

#alert1 {
    width: 20vw;
    left: 612px;
    top: 5px;
    transform: translate(-50%, -50%);
}

#alert2 {
    width: 17vw;
    left: 327px;
    top: 138px;
}

#alert3 {
    width: 10vw;
    left: 106px;
    top: 148px;
}
#alert4 {
    width: 19vw;
    left: 612px;
    top: 5px;
}

#alert5 {
    width: 13vw;
    left: 938px;
    top: -218px;
}

#alert6 {
    width: 13vw;
    left: 886px;
    top: 310px;
}

#alert7 {
    width: 19vw;
    left: 73px;
    top: 58px;
}

.spam_img {
  box-sizing: border-box;
  width: 100%;
}

.spam-window {
  border: $default-border;
  width: 100%;
}
