.plug {
  .subscribeImage {
    width: 63vw;
    height: 87vh;
    background-image: url("Netstory.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: -4% 0px 0% 18%;
  }

  .text {
    color: #000000;
    width: 330px;
    position: relative;
    bottom:  16vh;
    left: 50vw;
    transform: translateX(-50%);

    h1 {
      font-size: 20px;
      font-weight: 500;
      line-height: 35px;
    }

    p {
      line-height: 20px;
    }
  }

  .changeLang {
    display: flex;
    color: #000000;
    width: 25px;
    height: 25px;
    margin-top: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    font-weight: 500;
    border: $default-border;
    justify-content: center;
  }
}

@media all and (max-width: 740px){
  .plug {
    .subscribeImage {
      width: 103vw;
      height: 53vh;
      margin: 0;
      margin-top: 9%;
    }

    .text {
      bottom: 8%;
      left: 0;
      margin: 0 auto;
      transform: none;

      h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 70px;
      }

      p {
        width: 85%;
        font-size: 22px;
        line-height: 30px;
      }
    }

    .changeLang {
      display: flex;
      color: #000000;
      width: 25px;
      height: 25px;
      margin-top: -220%;
      margin-left: 50%;
      transform: translateX(-50%);
      padding: 2px;
      font-weight: 500;
      border: $default-border;

      .welcomeLocalizationBlock {
        position: center;
      }
    }
  }

}
