.borderShare {
  width: 80px;
  height: 35px;
  padding: 8px;
  border: $default-border;
  cursor: $default-cursor;

  .fb-share-button {
    width: 8px;
    height: 15px;
    background-image: url("social/facebook.svg");
    background-size: cover;
    background-repeat: no-repeat;

  }
  .fb-xfbml-parse-ignore {
    margin-left: 15px;
    font-size: 16px;
  }
}
.plug {
  .sub {
    .subscribeImage {
      width: 63vw;
      height: 87vh;
      background-image: url("Netstory.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin: -4% 0 0 18%;
      border: none;
    }

    .text {
      bottom: 16vh;
    }
  }

  .subscribeImage {
    width: 440px;
    height: 440px;
    background-image: url("spam/visitor.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto 0;
    border: $default-border;
  }

  .text {
    color: #000000;
    width: 330px;
    position: relative;
    bottom: -10vh;
    left: 50vw;
    transform: translateX(-50%);

    h1 {
      font-size: 20px;
      font-weight: 500;
      line-height: 35px;
    }

    p {
      line-height: 20px;
    }
  }

  .changeLang {
    display: flex;
    color: #000000;
    width: 25px;
    height: 25px;
    margin-top: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    font-weight: 500;
    border: $default-border;
    justify-content: center;
  }
}
@media all and (max-width: 740px) {
  .plug {
    .sub {
      .subscribeImage {
        width: 103vw;
        height: 53vh;
        margin: 9% 0 0;
      }

      .text {
        bottom: 8%;
      }
    }

    .text {
      bottom: -4%;
      left: 0;
      margin: 0 auto;
      transform: none;

      h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
      }

      p {
        width: 85%;
        font-size: 22px;
        line-height: 30px;
      }
    }

    .changeLang {
      display: flex;
      color: #000000;
      width: 25px;
      height: 25px;
      margin-top: -220%;
      margin-left: 50%;
      transform: translateX(-50%);
      padding: 2px;
      font-weight: 500;
      border: $default-border;

      .welcomeLocalizationBlock {
        position: center;
      }
    }
  }
}
