.taskbar {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #D8D8D8;
  border-top: 2px solid #efefef;

  .taskbarItems {
    margin-right: 0.4rem;
    padding: 0.8rem;
    height: 35px;
    width: 209px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    background: #D8D8D8;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 0.7rem;
    @include border-color($border-light, $border-dark);

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
    }

    .taskbarItemsBox {
      display: flex;
      height: 25px;
      width: 25px;
      margin-right: 0.6rem;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  .icons {
    display: flex;
    width: 100%;

    .iconsLeft {
      display: flex;

      .startRest {
        border: $default-border;
      }

      #start {
        padding: 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: default;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px;
        height: 35px;
        @include border-color($border-light, $border-dark);
        cursor: $default-cursor;


        .iconStart {
          background-image: image-url('iconStart.svg');
          height: 20px;
          width: 20px;
          background-size: cover;
          background-repeat: no-repeat;
          margin-right: 0.4rem;
        }

        p {
          margin: 0;
          font-size: 1.1rem;
          font-weight: 500;
        }

        &:active {
          @include border-color($border-dark, $border-light);
          transform: translateY(2px);
        }
      }

      .startClick {
        border-top: inset 2px black;
        border-left: inset 2px black;
        border-bottom: inset 2px white;
        border-right: inset 2px white;
      }

      #startMenu {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
      }
    }

    .iconsRight {
      display: flex;
      flex-direction: row;
      padding-right: 0.5rem;
      font-size: 0.7rem;
      font-weight: 500;

      .localizationBlock{
        display: flex;
        @include border-color($border-medium, $border-light);
        padding: 3px;
        margin: 5px;

      }
      /* TIME AND DATE */
      .dateTime {
        float: right;
        @include border-color($border-medium, $border-light);
        display: flex;
        cursor: $default-cursor;

        #clock {
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
          height: 31px;
          width: 70px;
        }
      }
    }

    .taskbarElements {
      margin: 0 15px;
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
