.taskbarItems {
  height: 43px;
  width: 43px;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items:center;
}

.taskbarItemsBox {
  height: 28px;
  width: 28px;
  display: flex;
}

.taskbarHover {
  display: none;


  &:hover{
    display: block;
  }
}
