$default-border: 2px solid black;
$default-box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
$background-size: 26px 26px;
$position: center;
$default-cursor: url('cursor-pointer.png'), pointer;
$repeat: no-repeat;

.taskbar {
  position: fixed;
  bottom: 0;
  height: 43px;
  width: 100%;
  background: #D8D8D8;
}

.icons-left {
  height: 43px;
  display: inline-block;
}

#start-menu, .taskbar .icons-left #trash {
  height: 43px;
  width: 48px;
  position: relative;
}


#start-menu i, .taskbar .icons-left #trash i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  color: white;
}

#start-menu, #about-icon, #computer-icon, #folder-icon,  #trash-icon {
  background-repeat: $repeat;
  background-position: $position;
}

#about-icon, #computer-icon, #folder-icon,  #trash-icon {
  background-size: $background-size;
}

#start-menu {
  height: 47px;
  width: 150px;
  background-size: 100px 28px;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

#start:active {
  transform: translateY(2px);
}

#about-icon {
  height: 43px;
  width: 49px;
  background-image: url(Spravka.svg);
}

#computer-icon {
  height: 43px;
  width: 49px;
  background-image: url(Komp.svg);
}

#folder-icon {
  height: 43px;
  width: 49px;
  background-image: url(Papka.svg);
}

#trash-icon {
  height: 43px;
  width: 49px;
  background-image: url(Korzina.svg);
}

.taskbar .icons-left a {
  display: table-cell;
  border-bottom: 2px solid transparent;
}

.taskbar .icons-left a:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.taskbar .icons-left a:not(:first-child) {
  margin-left: -4px;
}

.taskbar .icons-left a.border:focus {
  border-bottom: 2px solid rgba(245, 245, 245, 0.651);
}

.taskbar .icons-left .px {
  width: 1px;
}

.taskbar .icons-left .px a {
  pointer-events: none;
}

.taskbar .icons-right {
  height: 47px;
  float: right;
}

.datetime {
  display: inline-block;
  cursor: $default-cursor;
  height: 47px;
  padding-right: 1.5rem;
}

.datetime span {
  display: flex;
  align-items: center;
  color: black;
  height: 47px;
  width: 70px;
}

.taskbar .icons-right .datetime:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

#clock {
  font-size: 1.5rem;
  font-weight: bold;
}
