.updateOS {
  position: absolute;
  left: 30vw;
  top: 20vh;
  z-index: 2;
  width: 550px;
  height: 320px;
  border: $default-border;
  box-shadow: $default-box-shadow;
  background: #D8D8D8;

  .closeBtnInactive {
    position: relative !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: #C1C1BF;
    border-right: $default-border;
    border-top: $default-border;
    border-bottom: $default-border;
    cursor: $default-cursor;

    img {
      width: 21px;
      height: 21px;
      margin: 0 auto;
    }
  }

  .infolderContent {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;

    h3 {
      color: #000;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .remaining {
      display: flex;
      color: #000000;
      position: relative;
      bottom: 33px;
      font-size: 12px;

      .bold {
        font-weight: bold;
        margin-right: 5px;
      }

      .stable {
        left: 66px;
      }

      .firstSecond {
        position: absolute;
        left: 208px;
      }

      .secondSecond {
        position: absolute;
        left: 208px;
        background: #d8d8d8;
        animation: blink 1.2s steps(7, start) infinite;
        animation-delay: 2s;

        @keyframes blink {
          to {
            visibility: hidden;
          }
        }
      }
    }

    .bar {
      position: relative;
      width: 480px;
      height: 25px;
      border-top: 2px solid #666;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      border-left: 2px solid #666;
      display: flex;
      overflow: hidden;

      .downloaded {
        width: 40%;
        height: auto;
        background: blue;
      }

      .shine {
        position: absolute;
        left: -450px;
        width: 380px;
        height: 21px;
        opacity: .4;
        border-radius: 40%;
        background: linear-gradient(
        135deg,
        rgba(216, 216, 216, 0.3) 10%,
        rgba(255, 255, 255, .8) 10%,
        rgba(216, 216, 216, 0.3) 20%,
        rgba(255, 255, 255, .8) 20%,
        rgba(216, 216, 216, 0.3) 30%,
        rgba(255, 255, 255, .8) 30%,
        rgba(216, 216, 216, 0.3) 40%,
        rgba(255, 255, 255, .8) 40%,
        rgba(216, 216, 216, 0.3) 50%,
        rgba(255, 255, 255, .8) 50%,
        rgba(216, 216, 216, 0.3) 60%,
        rgba(255, 255, 255, .8) 60%,
        rgba(216, 216, 216, 0.3) 70%,
        rgba(255, 255, 255, .8) 70%,
        rgba(216, 216, 216, 0.3) 80%,
        rgba(255, 255, 255, .8) 80%,
        rgba(216, 216, 216, 0.3) 90%,
        rgba(255, 255, 255, .8) 90%,
        rgba(216, 216, 216, .1) 100%);
        animation: move infinite;
        animation-duration: 9s;

        @keyframes move {
          from { transform : translateX(0) }
          to   { transform : translateX(930px) }
        }
      }
    }

    .cancel {
      position: relative;
      left: 80%;
      padding: 0.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: $default-cursor;
      background: #D8D8D8;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100px;
      height: 35px;
      border-top: 2px solid white;
      border-right: 2px solid #222;
      border-bottom: 2px solid #222;
      border-left: 2px solid white;
      color: #000000;
    }
  }
}
