$color-card-background: #FFFFFF;
$color-tag-background: #E3E5E9;
$color-anchor: #E62A5D;
$color-body-copy: #b9bcbd;
$default-border-radius: 5px;
$default-border: 2px solid black;
$default-box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
$default-font-family: 'TT Norms';
$breakpoint-medium: "screen and (min-width: 700px)";
$mainColor: #FEC2CE;
$secondaryColor: #EBFFFA;
$cursor-pointer: image-url('cursor-pointer.png'), pointer;
$background-elemts: #DADAD3;
$repeat: no-repeat;
$decoration: none;
$background-size: 26px 26px;
$position: center;
$default-cursor: image-url('cursor-pointer.png'), pointer;
$border-light: 2px solid white;
$border-medium: 2px solid #666;
$border-dark: 2px solid #222;
$window-title-gradient: linear-gradient(90deg, #000184, #0f80cd);
