
.container.video .card{
  width: 560;
  height: 400px;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
  background-color: #000;
}

.video {
  position: relative;
}


.card-content {
    padding: 10px;
    color: #fff;

    h1 {
      font-family: 'Cera Pro Bold';
      font-size: 2em;
      font-weight: bold;
    }

    h4 {
      font-family: 'Cera Pro Light';
      font-size: 70%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

}


iframe {
  border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  border: 1px solid black;
}
