.welcome {
	left: 35%;
	top: 25%;
	width: 400px !important;
  position: absolute;
	cursor:  $cursor-pointer;
	.fakeScreen {
		background-color: #151515;
		box-sizing: border-box;
		width: 100%;
		margin: 0 auto;
		padding: 20px;
		word-wrap: break-word;
	}

	.card {
		resize: both;
		background-color: $color-card-background;
		border: $default-border;
		box-shadow: $default-box-shadow;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 600px;
		@media #{$breakpoint-medium} {
			flex-direction: column;
		}
	}

	p {
		position: relative;
		font-weight: 400;
		letter-spacing: 0.08rem;
		text-align: left;
		font-size: 0.8em;
		white-space: nowrap;
		overflow: hidden;
		width: 0;
		color: #fff;
		opacity: 0.7;
	}

	span {
		color: #000;
		font-weight: bold;
	}

	.card {
		resize: both;
		background-color: $color-card-background;
		// border-radius: $default-border-radius;
		border: $default-border;
		box-shadow: $default-box-shadow;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 600px;
		// margin-right: 3rem;
		// margin-bottom: 2rem;
		@media #{$breakpoint-medium} {
			flex-direction: column;
		}
	}

	.line1 {
		animation: type 0.9s 2s steps(40, end) forwards;
	}

	.welcome.cursor1 {
		animation: blink 1s 3s 2 forwards;
	}

	.line2 {
		animation: type 0.9s 5.25s steps(40, end) forwards;
	}

	.welcome.cursor2 {
		animation: blink 1s 6.25s 2 forwards;
	}

	.line3 {
		animation: type 0.9s 8.5s steps(40, end) forwards;
	}

	.welcome.cursor3 {
		animation: blink 1s 9.5s 2 forwards;
	}

	.line4 {
		color: #fff;
		animation: type 0.9s 11.75s steps(40, end) forwards;
	}

	.welcome.cursor4 {
		animation: blink 1s 9.5s infinite;
	}

	@-webkit-keyframes blink {
		0% {
			opacity: 0;
		}

		40% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		90% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	@-moz-keyframes blink {
		0% {
			opacity: 0;
		}

		40% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		90% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	@-o-keyframes blink {
		0% {
			opacity: 0;
		}

		40% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		90% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes blink {
		0% {
			opacity: 0;
		}

		40% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		90% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	@-webkit-keyframes type {
		to {
			width: 100%;
		}
	}

	@-moz-keyframes type {
		to {
			width: 100%;
		}
	}

	@-o-keyframes type {
		to {
			width: 100%;
		}
	}

	@keyframes type {
		to {
			width: 100%;
		}
	}

}
