
/*WELCOME ALERT*/

@font-face {
  font-family: 'Cera Pro Light';
  src: url('../../assets/fonts/CeraPro-Light.eot');
  src: url('../../assets/fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
  url('CeraPro-Light.woff') format('woff'),
  url('CeraPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.welcome {
	width: 400px !important;
	.fakeScreen {
		background-color: #151515;
		box-sizing: border-box;
		width: 100%;
		margin: 0 auto;
		padding: 20px;
		word-wrap: break-word;
	}

	p {
		position: relative;
		font-family: 'Cera Pro Light';
		font-weight: 300;
		text-align: left;
		font-size: 0.9em;
		white-space: nowrap;
		overflow: hidden;
		width: 0;
		color: #fff;
	}

	span {
		color: #000;
		font-weight: bold;
	}

	.line1 {
		animation: type 0.9s 2s steps(40, end) forwards;
	}

	.welcome.cursor1 {
		animation: blink 1s 3s 2 forwards;
	}

	.line2 {
		animation: type 0.9s 5.25s steps(40, end) forwards;
	}

	.welcome.cursor2 {
		animation: blink 1s 6.25s 2 forwards;
	}

	.line3 {
		animation: type 0.9s 8.5s steps(40, end) forwards;
	}

	.welcome.cursor3 {
		animation: blink 1s 9.5s 2 forwards;
	}

	.line4 {
		color: #fff;
		animation: type 0.9s 11.75s steps(40, end) forwards;
	}

	.welcome.cursor4 {
		animation: blink 1s 9.5s infinite;
	}

	@-webkit-keyframes blink {
		0% {
			opacity: 0;
		}

		40% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		90% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	@-moz-keyframes blink {
		0% {
			opacity: 0;
		}

		40% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		90% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	@-o-keyframes blink {
		0% {
			opacity: 0;
		}

		40% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		90% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes blink {
		0% {
			opacity: 0;
		}

		40% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		90% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	@-webkit-keyframes type {
		to {
			width: 100%;
		}
	}

	@-moz-keyframes type {
		to {
			width: 100%;
		}
	}

	@-o-keyframes type {
		to {
			width: 100%;
		}
	}

	@keyframes type {
		to {
			width: 100%;
		}
	}
  
  top: 18vh;
	left: 35vw;
}
