<div class="sleepMode hidden">
  <div class="sleepComputer"></div>
  <span class="table">
    <div class="login">Пожалуйста войдите в учётную запись NetStory</div>
    <div class="tableInside">
      <div class="user">
        <div class="userImage"><%= image_tag 'admin.svg' %></div>
        <p>Админ</p>
      </div>
      <div class="user">
        <div class="userImage"><%= image_tag 'happy.svg' %></div>
        <p>Пользователь</p>
      </div>
    </div>
    <div class="shutDown">Выключение</div>
  </span>
</div>
