
<div id="<%= "folder_#{ @folder.id }" %>" class="computer folderContent draggable about">
  <div class="menuTop">
    <span class="folderTitle"><%= @folder.name_en %></span>
    <div class="closeBtn">
      <%= image_tag 'x.svg' %>
    </div>
  </div>
  <div id="info">
    <div class="infolderContent infolder information scrollbar">
      <div class="storage">
        <%= image_tag 'computer_about.svg' %>
        <div class="storageInfo">
          <div class="infoHeader">
            <p class="firstp">NetStory 2019</p>
            <p class="secondp">0,05 ZB free of 24 ZB</p>
          </div>
          <div class="infoLine">
            <div class="lineArticles"></div>
            <div class="lineImages"></div>
            <div class="lineGames"></div>
          </div>
        </div>
      </div>
      <div class="tagsInfo">
        <div class="tagInside">
          <div class="tagArticles"></div>
          <p>Articles</p>
        </div>
        <div class="tagInside">
          <div class="tagImages"></div>
          <p>Images</p>
        </div>
        <div class="tagInside">
          <div class="tagGames"></div>
          <p>Games</p>
        </div>
      </div>
      <h4>About</h4>
      <p>
        Internet. The worldwide computer information network with four billion users. However, what do we exactly know about how have the Internet being developing for all that time? We use the World Wide Web literally every day and know so little about it. The vast majority of articles and books are written in boring and incomprehensible language, but what if we fix it?</p>
      <p>
        NetStory is a service about the history of the Internet. You can literally dive into the past of the World Wide Web and see how design, interaction, functionality changed, what new things have appeared and disappeared without a trace. What was the first e-mail? What legends are associated with Error 404? The answers to these and other questions you will find in NetStory!
      </p>
    </div>
  </div>
</div>
